[2017-02-18 12:45] Sipharty opened #1000 "import/export fit with .xml file from win to mac, fail"
## Bug Report
ok so... i've exported a fit in .xml and my friend is having issues to import it in his pyfa.

my os: window
his: mac

both pyfa version are 1.27
his pyfa start loading the file and then crash
it doesn't happen with only 1 fit/file.
we tried with multiple fits/file

[2017-02-18 13:25] Sipharty opened #1001 "graph tool disabled? 1.27 pyfa"
## Bug Report
grahps tool disabled in the menus? it worked till 1.26, then i updated pyfa and now it's like this:
http://i.imgur.com/FZnhCWs.png

os: win7

other people seems to have the same problem seeing the thread on eve forum

[2017-02-18 16:02] Ebag333 commented on #1000
Can you post  the file here?  You can use https://gist.github.com/ to copy/paste the file contents.

[2017-02-18 16:03] Valcyriel commented on #1001
I also have same problem. 1.27 graphs button is grayed. 1.26 graphs works fine.
os: win7 64bit

[2017-02-18 16:04] Ebag333 commented on #1001
Can you click `Help` then `About` and post the screenshot here?

[2017-02-18 17:25] Sipharty commented on #1000
<?xml version="1.0" ?>
<fittings>
	<fitting name="Revelation Yue">
		<description value=""/>
		<shipType value="Revelation"/>
		<hardware slot="low slot 0" type="Heat Sink II"/>
		<hardware slot="low slot 1" type="Heat Sink II"/>
		<hardware slot="low slot 2" type="Heat Sink II"/>
		<hardware slot="low slot 3" type="Reinforced Bulkheads II"/>
		<hardware slot="low slot 4" type="Reinforced Bulkhead

[2017-02-18 17:27] Sipharty commented on #1000
sorry no idea how to copy/paste here lol i tried and didn't work out
can this help? https://gist.github.com/Sipharty/6e9b6b8744ebf02e2f71cd6f91ce9d5a

[2017-02-18 17:27] Ebag333 commented on #1000
Works great. Let me take a look.

[2017-02-18 17:30] Sipharty commented on #1001
same pyfa's info for me as well as valcyriel

[2017-02-18 17:35] Ebag333 commented on #1000
Imported okay for me.  Can you provide some environmental information?

- OS type and version
- Path you are trying to import from
- File name of XML

[2017-02-18 17:37] Ebag333 commented on #1001
Odd. That means it *DID* import.  Why are we turning it off.....?

[2017-02-18 17:38] blitzmann commented on #1000
It's probably a mac issue. I never tested xml imports on osx since the import changes. I'll test them first thing when I get home tonight.

[2017-02-18 17:40] Sipharty commented on #1000
emh.. need to ask to my friend xD

[2017-02-18 17:42] Ebag333 commented on #1000
No rush. Just want to make sure that we aren't running into different issues here.

There were a _LOT_ of low level changes, and @blitzmann is probably right about it being related to the imports, but more info helps. :)

[2017-02-18 17:53] Ebag333 commented on #1001
It's not disabling it when running from source, with that particular version of matplotlib.

So it's something either in the skeleton, or the check is failing when frozen.....

[2017-02-18 18:06] blitzmann commented on #1001
@ebag333 have you confirmed the issue is in the build only and can reproduce? If so, I have an idea in a fix.

[2017-02-18 18:24] Dag99 opened #1003 "Graphs option in v 1.27.0 is disabled"
Window -> Graphs option is disabled ("grayed out") after installing v 1.27.0.

### Expected behavior:
Expected Graphs option to be available.

### Actual behavior:
Graphs option not available.

### Detailed steps to reproduce:
Download pyfa-1.27.0-yc119.2-1.2-win.zip and install.
Open the Window menu.
The Graphs option is unavailable.

### Fits involved in EFT format (Edit > To Clipboard > EFT):

[2017-02-18 18:27] Ebag333 commented on #1001
Fix submitted in #1002

If you want to monkeypatch your current build, you can do so  with the following steps.
(Make sure Pyfa isn't currently running.)

1. Open `library.zip` in 7-Zip (or another archive program that will let you edit files directly in the zip).
2. Under the folder `gui` find `graphFrame.py`
3. `Right click`, choose `edit`.
4. Replace the file contents with those found here: htt

[2017-02-18 18:28] Ebag333 commented on #1003
Duplicate of #1001 and a fix has  been submitted i n #1002

There's a temporary fix posted in #1001 if you don't want to wait for the next build.

[2017-02-18 18:36] Sipharty commented on #1001
thanks for the attention boiz! good guys always doing god work! cheers

[2017-02-18 19:50] Ebag333 commented on #1000
Also, congrats on #1000 :D

[2017-02-18 20:32] Sipharty commented on #1000
legit! you know that something is working as intended when you reach #1000 in issues xD
well done boiz! keep it up ;)

[2017-02-18 22:10] Lozzyg commented on #998
I now have this issue since upgrading to 1.27

[2017-02-18 22:30] blitzmann commented on #1000
Confirmed, happens when importing multiple files

[code]

This should be an easy fix, working on it now

[2017-02-18 23:14] blitzmann commented on #1000
Fixed. Going to release an updated release once we get a few more things squared away

[2017-02-18 23:15] #1003 closed

[2017-02-18 23:25] blitzmann commented on #1001
Pulled in the fix that ebag submitted. It reverts a change that we made to not import the required libraries until needed, but it unfortunately wasn't working properly in the builds

[2017-02-19 13:53] Yizashi opened #1004 "fleet boosts projection not working"
Hi,

i setup a Damnation fit including 3 scripted armor boosts (all of them).

When i drag that fit to my Nyx fitting it doesn't calculate the armor bonuses reliably.
I tried turning them on and off in the projection tab of the nyx, the modules on the damnation one time solved it but the next time didn't.

I removed the damnation, draged it in again and created the fitting again but most of the ti

[2017-02-19 14:37] Ebag333 commented on #1004
Bursts don't work off the projection tab. You have to use the command tab.

[2017-02-19 18:13] blitzmann commented on #1004
What @Ebag333 said. If there's any other questions or concerns with the way it works, please let us know here. :)

[2017-02-19 18:13] #1004 closed

[2017-02-20 04:38] Sidoen opened #1005 "Hide empty ship groups hides to many groups"
## Bug Report
To many ship groups are being hidden when the hide empty ships option is toggled on.

### Expected behavior:
Only ship groups without any fittings in them should disappear

### Actual behavior:
Some ship groups with fittings in them are being hidden. Although if you navigate into the ship group (before hiding empty groups) then you can see and select the ship fittings. If you have do

[2017-02-20 05:42] blitzmann commented on #1005
Thanks for the detailed bug report.

Question: does this happen only after importing fits? There is a known bug that was reported a long while ago in which the number of fits per group isn't properly updated after doing an import (you stated in reproduction steps that you imported the backup file). Can you confirm that this happens when launching pyfa with a database already full of fits?

Thanks

[2017-02-20 06:34] Sidoen commented on #1005
I have/do restart the program fairly often. The behaviour stays the same.

My comments with respect to the import are mostly to provide full steps
from when it started happening.

Sorry about that I should have added that in.

I have. Not seen any particular issue concerning fit counts, though I'm not
really looking for that so it's possible I'm just missing it.

Not in front of my pc right now ot

[2017-02-20 14:25] blitzmann commented on #1005
I'll take a look int this soon then. Thanks for the clarifications :)

[2017-02-21 05:12] blitzmann commented on #379
@WiseFerret We're having some issues with the fix that was put in place, namely paths with Russian characters are broken. I'm thinking about reverting back and adding a more nuanced fix for the other path issue this fix addressed (#548), but I want to get in touch with you personally to find out more information about the error that you are receiving.

It's much easier to debug these things in rea

[2017-02-21 08:31] minlexx commented on #379
@blitzmann Linux has all in UTF-8 (as you can see on your screen), windows has windows-1251 for Russian, for example.

[2017-02-21 16:05] billypoke opened #1007 "Mining Foreman Boosts not increasing yield"
## Bug Report

When projecting a fit with mining boosts, the relevant aspects of the ship being projected onto aren't  affected

### Expected behavior:

- Boosting fit has mining boosts with Mining Laser Field Enhancement Charges, the target ship's strip miner range increases.

- Boosting fit has mining boosts with Mining Laser Optimization Charges, the target ship's m3/s increases.

### Actual be

[2017-02-21 16:07] blitzmann commented on #1007
Mother fucker, can we have just one release in which mining boosts work correctly?

props to the bug report though, pretty thorough. Will take a look at it as I can :)

[2017-02-21 17:52] mna703 commented on #1001
My graph option is disabled also (greyed out). Here's a screenshot:
![pyfa](https://cloud.githubusercontent.com/assets/25934948/23177380/97c2419a-f834-11e6-9981-426808434279.jpg)

[2017-02-21 18:45] vmech commented on #892
Hallelujah! \o/ :D

[2017-02-21 18:59] blitzmann commented on #1001
Yep, we're aware, new release should come out this week that addresses it.

[2017-02-22 20:23] Yizashi commented on #1004
Oh, sorry i must have taken the right tab by chance the one or two times it worked then..

Sorry and again thanks for your hard work.

[2017-02-23 15:17] ECHRE-Zetakya commented on #1007
I can confirm that this also happens with the Orca and the Rorqual. So it's not just a Porpoise issue.

[2017-02-23 19:25] blitzmann commented on #1007
@billypoke hey, finally had a chance to sit down and actually read the issue. You're projecting the fit, which is not what you want to do. Instead, for fleet / command boosts, you want to drag it over to the Command tab. Going to close this issue assuming that is the problem - if the problem still persists after utilizing the command tab, please reopen and we'll take a look.

:)

[2017-02-23 19:25] #1007 closed

[2017-02-24 05:01] blitzmann commented on #1005
I've successfully reproduced the issue on my local database, will start looking into the cause. Hopefully we can get this fixed before the next point release in a couple days

[2017-02-24 05:12] blitzmann commented on #1005
Well that was easy. We were checking to see if number of fit for that category > 1, instead of > 0. Dumb mistake on my part lol

[2017-02-24 13:22] light007 opened #1009 "Link has no effect on projected remote rep, damper, tracking disruptors"
---

## Bug Report

### Expected behavior:
Link should have effect on projected remote rep, damper, tracking disruptors.

### Actual behavior:
Link has no effect on projected remote rep, damper, tracking disruptors.
Here is an example for remote rep.
![r 3uqkhwtn yv2k2y9wt kq](https://cloud.githubusercontent.com/assets/26004270/23303294/2a34c4da-face-11e6-9cf7-42eb114dd07e.png)
![i1il i3p trbeql7

[2017-02-24 14:28] MHacker9404 commented on #998
I now have this issue since upgrading to 1.27

[2017-02-24 14:53] blitzmann commented on #998
Yep, a new release will be coming this weekend to address this issue as well as the other fixed issues on the issue page :)

[2017-02-24 15:16] blitzmann commented on #379
Reopening until I can get confirmation that this is still a thing. :D

[2017-02-24 15:21] blitzmann opened #1010 "Locale Issues"
**Note:** if you're having issues with pyfa finding your path, please create a separate issue for it and then post here with the issue # so that I can ad it to the list below. I would like to keep discussions contained to their own threads.

---

I'll be consolidating all locale issues here and progress to fix them.

A bit of background: A fix was submitted by @Ebag333 (#910) and put into place fo

[2017-02-24 15:23] blitzmann commented on #1009
Thanks for the report, I'll look into it hopefully tonight. :)

[2017-02-24 18:14] blitzmann commented on #1010
@Ebag333 as you've been working a lot on this issue, I have a favor to ask:

Can you list out simply and clearly your test cases? I'm having trouble keeping up with know bad combinations (hence why I started this issue)

For example:

<table>
<tr><th>Path</th><th>Platform</th><th>System Locale</th><th>Result</th></td></tr>
<tr><td>`c:\Users\Me\some russian path\pyfa\`</td><td>Windows</td><td>Russi

[2017-02-24 19:34] blitzmann commented on #1009
So, just to be clear: you're using self projection on this Guardian, right? using the same fit to project onto it?

As to the other points:

There's a way to do it via graphs, but we haven't gotten that far with it. At the moment, ewar and energy 'falloff' doesn't apply in pyfa

See #445. There isn't a way to reliably do this as heat is chance-based. EFT is probably pulling numbers out of it's ass

[2017-02-24 19:37] blitzmann opened #1011 "Re-enable fit booster list"
This was disabled when we went over to command boosts. Totally forgot about it. Need to re-enable it. Can be a simple drop down at the top of the command pane.

[2017-02-24 19:41] blitzmann commented on #1009
Can confirm issue. First thought is that the projected effect runs before the command effect, so it doesn't have it's boost yet...

This might be a tricky one to fix unfortunately...

We really should make it so that projected effects are done at the very last bit in the fit calculation to avoid issues like this. Like, cache the effect to be run after the runtimes... I'll take a look into this mor

[2017-02-24 20:05] blitzmann commented on #997
This is been fixed by reverting the path changes we put into place for 1.27. I'll make a release this weekend - if you guys still have issues after that, please report them again. :)

[2017-02-24 20:22] WiseFerret commented on #1010
Can you post a link to latest master for linux so I can test it? I'm not yet familiar with git.

[2017-02-24 20:42] blitzmann commented on #1010
@WiseFerret Check Slack, I uploaded a file for you :)

[2017-02-24 20:47] Ebag333 commented on #1010
That's why I spend a good chunk of last evening writing out tests in a PR that still isn't merged. :)

[2017-02-24 21:30] blitzmann commented on #1010
I want it in addition to the tests. Tests are only as reliable and accurate as it's programmed to be, and there could be mistakes that we don't see, unless you're suggestion your code is infallible :) I would like to have manual verification and documentation for at least some test cases first and a simple up/down result (with trace for failed). The problem is that right now we have these tests an

[2017-02-24 22:25] Ebag333 commented on #1010
I understand.

The goal of that test PR is to flesh out those examples so you can replicate them yourself.  Without that it's not worth much.  Give me some time, I'm trying to fix the *OTHER* stuff you're complaining about . ;)

[2017-02-25 01:29] Sidoen commented on #1005
Well, that's an easy enough mistake to make, awesome that it was easy to
fix.

On 23 Feb 2017 9:12 pm, "Ryan Holmes" <notifications@github.com> wrote:

[2017-02-25 04:56] blitzmann commented on #379
@WiseFerret in case you didn't get it in slack, I'd like for you to test with this please.

[Pyfa-unicodetests.zip](https://github.com/pyfa-org/Pyfa/files/800945/Pyfa-unicodetests.zip)

I'll be in slack for most of the day tomorrow, we can chat then :)

[2017-02-25 10:47] NickLinnear commented on #950
I can confirm the issue. When I click on CREST-Login (implicit mode), the EVE-Login page appears to confirm the necessary rights. After clicking on authorize the tab redirects to localhost:6461:/... and the caption changes to "pyfa local server" for a short time. Then I get the error that the web-page is not reachable. I use Windows10 and EDGE.
After trying the procedure with Chrome, I saw an Erro

[2017-02-25 10:49] NickLinnear commented on #950
The URL looks like:
http://localhost:6461/?access_token=<access_token>&token_type=Bearer&expires_in=1200&state=<guid>

[2017-02-25 11:05] WiseFerret commented on #379
`~/הורדות/Pyfa-unicodetests$ py ./pyfa.py` runa well. Note that when exporting HTML the directory "[...]/pyfa" is hard-coded, so when it is run from Pyfa-unicodetests it throws an error.
However:
`yotam@ape:~/הורדות/Pyfa-unicodetests$ LC_ALL=C ./pyfa.py
Traceback (most recent call last):
  File "./pyfa.py", line 120, in <module>
    config.defPaths(options.savepath)
  File "/home/yotam/הורדות/Pyfa

[2017-02-25 13:26] NickLinnear commented on #950
After downloading the Git-Repository and installing all prerequisites for running the code on my Developer-VM (Windows 10, Browser EDGE), everything worked fine. So I can confirm both: Developer cannot reproduce, End-User cannot login via CREST.

[2017-02-25 17:54] blitzmann commented on #379
@WiseFerret can you expand on this:

What error does it throw? It should be easy to fix these things with file import and exports.

But the latest version works for you without running `LC_ALL=C` correct?

[2017-02-25 18:04] blitzmann commented on #950
So there is an issue with v1.26 with implicit auth (see #998). I'm making a new build today that has a fix for it. So I'd like for you to let me know after the new build if you're still running into this issue or not ;)

[2017-02-25 18:10] WiseFerret commented on #379
Without LC_ALL=C everything seems normal.

When trying to export to html I get a dialog box saying: `Invalid Path

The following path is invalid or does not exist:
/home/yotam/הורדות/pyfa/pyfaFits.html

Please verify path location pyfa's preferences.`

This problem does not occur when I try to import anything, or to export fittings or skills.

[2017-02-25 18:11] WiseFerret commented on #379
Sorry for the misclick :-)

[2017-02-25 18:22] blitzmann commented on #379
Thanks for the clarification.

Can you go into preferences and reset the path to see if that fixes it?

[2017-02-25 18:30] WiseFerret commented on #379
Yes, it does.
...However, the generated file contains only partial information (attached
here). This seems to be a different issue :-)

On 25 February 2017 at 20:22, Ryan Holmes <notifications@github.com> wrote:

[2017-02-25 18:34] blitzmann commented on #379
Did you attach the file to the email responder? You'll have to go to github itself and drag the file to attach it, as it doesn't work with email attachments. :)

[2017-02-25 18:51] WiseFerret commented on #379
Here you go.
[pyfaFits.html.txt](https://github.com/pyfa-org/Pyfa/files/801424/pyfaFits.html.txt)

[2017-02-25 19:02] blitzmann commented on #379
it outputs as a txt file?

[2017-02-25 19:05] WiseFerret commented on #379
No, I added the .txt so I can upload it here. Just remove the .txt suffic.
BTW, I exported it without logging in.

[2017-02-25 19:14] blitzmann commented on #379
gotcha. thanks. So the probelm seems to be that the shows the hulls, but not the actual fits, correct?

[2017-02-25 19:15] WiseFerret commented on #379
Right.

[2017-02-25 19:22] blitzmann commented on #379
Can confirm, opening a new issue about it.

But hey, at least you're not having any path issues. :)

[2017-02-25 19:22] blitzmann opened #1013 "HTML Export not working"
The html export compiles the list of categories and hulls, however the expansion of the hull doesn't show the fits.

[2017-02-25 19:26] blitzmann commented on #1013
See #379

[2017-02-25 22:42] #379 closed

[2017-02-25 22:42] #997 closed

[2017-02-25 22:42] #998 closed

[2017-02-25 22:42] #1000 closed

[2017-02-25 22:42] #1001 closed

[2017-02-25 22:42] #1005 closed

[2017-02-25 22:42] #1013 closed

[2017-02-25 23:23] jlee2109 opened #1014 "Startup Crash - Null reference in method new_IconFromBitmap"
## Bug Report

I just installed the latest version of Pyfa (1.27.1) on Windows 7 64-bit with the exe installer.  Installation seemed to go fine (wasn't paying close attention), but I can't run the installed program.  When I run, I get the following traceback in an error window:

![image](https://cloud.githubusercontent.com/assets/6528547/23335627/e7261ef0-fb6d-11e6-909e-7c87f2e139ce.png)

The prog

[2017-02-25 23:27] blitzmann commented on #1014
Can confirm, thanks for pointing this out. Working on a fix and new release pronto

[2017-02-25 23:28] jlee2109 commented on #1014
Note my edit above.  Seems to be a new bug in v1.27.1.

[2017-02-25 23:54] #1014 closed

[2017-02-26 07:09] blitzmann opened #1015 "OS X Build update"
This is more of a reminder for me and a place to jot notes down on the progress.

Since we upgraded to wx3, the OS X build has been... problematic. Performance is an issue. This is the reason we have kept the deprecated build around for so long - it did not show these issues.

However, with the release of OS X 10.11+, the deprecated version now fails to run for some users.

We need to move to a fr

[2017-02-26 07:12] blitzmann commented on #895
closing this issue as most known corruption is handled automatically now =3

[2017-02-26 07:12] #895 closed

[2017-02-26 08:47] NickLinnear commented on #950
Works perfect. Thank you.

[2017-02-26 11:19] wvdvegt commented on #950
NickLinnear, did you change anything to the edge/windows settings? I have the issue that the browser won't redirect to localhost so the title does not change to pyfa local server but goes strait into a timeout.
I'm using a fully patched the anniversary build.

[2017-02-26 11:30] wvdvegt commented on #950
Maybe an idea (workaround) is to add an option to the configuration to choose a browser to use for authentication. I don't mind it being Chrome, but I do mind if I have to change my default browser to Chrome.

[2017-02-26 12:41] wvdvegt commented on #950
At https://docs.python.org/2/library/webbrowser.html#webbrowser.get it states that

If the environment variable BROWSER exists, it is interpreted to override the platform default list of browsers, as an os.pathsep-separated list of browsers to try in order. When the value of a list part contains the string %s, then it is interpreted as a literal browser command line to be used with the argument UR

[2017-02-26 13:09] wvdvegt commented on #950
Found a solution for above, change the line
`            	webbrowser.open(uri)
`in
`            	def ssoHandler(self, event):`
to

[code]
after which Chrome is used (in this example) to login into crest instead of Windows default browser.

[2017-02-26 14:49] NickLinnear commented on #950
I didn't change the configuration of my Edge browser (about:flags = Default).
Setting the Environment Variable BROWSER didn't work on my System either.

[2017-02-26 16:53] blitzmann commented on #950
Ah, so this only works in Chrome then?

tbh, I didn't bother to test in other browsers. This is such simple javascript I didn't think it was necessary. I'll take a look and see what the behavior is like in edge / firefox, but if that doesn't help I'll try out your solution about explicitly using chrome to open. That would be unfortunate though if the user doesn't have chrome installed. :/

[2017-02-26 17:51] wvdvegt commented on #950
Hi

Edge and Internet Explorer on Windows 10 both reject a redirect to localhost and present a timeout. has nothing to do with simple javascript but security.

The code allows just you to set a browser to use other then the default browser (Edge in my case). Other browsers may work too like FireFox.

[2017-02-26 17:55] blitzmann commented on #950
This seems dumb. If you are on localhost already, you should be able to redirect to localhost . I can understand a webpage on the public internet not allowing that, or not allowing redirection to a different port...

Thanks for the info though. I've been meaning to add the ability to just display the information that you need and be able to input it into pyfa manually. But that's a lot of work unf

[2017-02-26 19:09] blitzmann opened #1016 "Develop a system for dynamically hiding / showing stat panels"
Need to come up with a system to dynamically hide / show certain panels (see #690 for information / ideas). Will be tracking progress here.

[2017-02-26 19:12] blitzmann opened #1017 "Use unicode strings for path functions"
After discussion with @Ebag333 on Slack, we believe that using `os.path.join()` with unicode types and avoiding regular string will solve the rest of our locale issues. This issue acts as a reminder for me to do that.

[2017-02-26 19:15] NickLinnear commented on #950
As I said before, on my System EDGE works after installing the new Version.
I tried the Internet-Explorer and that one also works without any problem. Are you sure _wvdwegt_, that there is not some other program (firewall, anti-virus, ...) that prevents the Microsoft browsers from working? I did not change any settings in the Explorer or EDGE, I am not member of a domain or have any entries in my

[2017-02-26 19:21] blitzmann commented on #950
@NickLinnear @wvdvegt

I can confirm that Edge works just fine for me as well with implicit authentication. v0v

[2017-02-26 20:40] Ebag333 commented on #1016
An idea. Create a `@property` in the view that if true sets the `IsHidden` to true, otherwise false.

For example (psuedocode):
[code]

then we can simply check the property each recalc, and if it's True then trigger minimize.  So it's not gone entirely, just collapsed.

[2017-02-27 03:04] Ebag333 opened #1019 "Missing effects"
When we run our calcs, we're missing a number of effects.

Most of these are probably meaningless to us, but some look like they might be legitimate.

https://gist.github.com/Ebag333/5d137a12337fcb379620c30bd8bb160d

@blitzmann any thoughts on these?

[2017-02-27 04:47] blitzmann commented on #1019
I don't think we're missing any (or much) effect that actually affect fitting calculations. I do know that anything that has `skilllevel` in it is probably safe to ignore, since pyfa calculates skills in a way that is different than EVE (logically - in the end, obv, we have proper calculations).

Which ones did you see that might need to be looked into?

[2017-02-27 04:50] Ebag333 commented on #1019
There's a few oddball ones like `hackingaccessdifficultybonusmultiplier`.

I don't know if any of these actually will change fitting stats we display. We just briefly discussed these, and didn't want that to get lost.

[2017-02-27 05:04] blitzmann commented on #1019
That particular one is a skill level effect as well, so unneeded.

We could write a script that looks for effects that are missing, and exclude skill items to see a true evaluation of missing effects.

[2017-02-27 05:12] Ebag333 commented on #1019
I think that we are as well, but it would not surprise me to see we missed a few obscure ones. It's too easy to do.

[2017-02-27 05:40] blitzmann commented on #1019
https://gist.github.com/blitzmann/ff1106d16d7b349131ade84b434039a5

This allows us to see which items have effects from he list your provided, and filters out skills (have to create a separate table with a NOCASE because SQLite is apparently case sensitive, go figure). The results are below:

[code]

These implants, however, aren't useful in pyfa. They affects stats on the character itself and dea

[2017-02-27 05:44] Ebag333 commented on #1019
Just remove duplicates from debug log. :)

[2017-02-27 05:45] Ebag333 commented on #1019
It's just off a single fit, btw. So it's not comprehensive.

[2017-02-27 05:47] blitzmann commented on #1019
Oh... Well then, I'll take a look at rounding up a comprehensive list of effects that aren't implemented. Probably just need to re-work the current effect header script we have

[2017-02-27 06:30] blitzmann commented on #859
I have started work on this and have a branch dedicated to it. Once merged, it can easily be undone if needed (unforeseen consequences) by a revert.

It's very important to note that the attributes should go in as a list, and they are applied in whatever order they are in. It's also very important to note that all other parameters must be exactly the same - the modifying value, the skill, the filt

[2017-02-27 13:39] MattSeibert opened #1020 "Fitting Import Broken"
# Submit a bug report bug report or feature request

Here you can inform pyfa developers of potential bugs or suggest features / improvements to the project. Please check
to make sure that the bug hasn't been reported or feature requested before submitting. If you have general questions
about the project and want to reach out to the developers personally, please check out out our [Slack]
(https://

[2017-02-27 17:12] blitzmann commented on #1020
Question: do you export your fits, and then load them back in with each upgrade? You should be able to to an in-place upgrade.

Thanks for the bug report - will look into it soon. :)

[2017-02-27 21:23] MattSeibert commented on #1020
Hiya!!

I WAS running Pyfa V 1.14.0, previously

I can re-import the fitting file from that version exported without incident.

My last fit was exported in Sept 2015 (I’ve attached it for reference)

Is there, perhaps, a problem with having been from v 1.14.0 and trying to jump to 1.27.2?  Do I need to maybe get an intermediate version and “convert” the import as a stepping stone?

Matt

[2017-02-27 22:10] Ebag333 commented on #1020
Can you please post the xml file somewhere? Github has Gist up at the top.

[2017-02-27 23:26] Ebag333 commented on #235
@blitzmann want to flag this one as resolved?

[2017-02-28 00:48] MattSeibert commented on #1020
XML can be found at

http://www.wildfire-tech.com/users/matt/EVE/pyfa-fits-20150920_004815.xml.zip

In doing some testing, I found that I could import / export from any 1.1x version, but once I tried to import the XML into a 1.2x version (even as low as 1.21) the same behavior was observed where the import "stalls out" at 0 progress.

It would appear that a fitting file from a 1.1x version is NOT

[2017-02-28 03:22] Ebag333 commented on #1020
Well, no issues importing for me. :(

https://puu.sh/un5xT/88391eb6de.png

Can you post your saveddata.db somewhere?  You can email me the link at: ebagola@gmail.com

Also, see if you have a Pyfa log (same location as your saveddata.db).

[2017-02-28 12:21] MattSeibert commented on #1020
http://www.wildfire-tech.com/users/matt/EVE/home_pyfa.zip

Is where I dropped the files requested.  This does bring up a question:

~/.pyfa/ exists and has all of the data from my 1.14 version.  Do I need to DELETE this path when I upgrade?  Is there, perhaps, a conflict that the 1.27 version is trying to write to / use the 1.14 DB files?

[2017-02-28 17:24] Ebag333 commented on #1020
No, you shouldn't need to delete anything.

I  tried importing the XML file against all the databases provided, no issues.  I'm running on Windows, so there may possibly be a Mac specific issue at play here.

[2017-02-28 23:44] Ebag333 commented on #1017
What  would you think about going through and unicoding all the things?

It seems that's the common practice now.

One advantage to doing that is that if we ever implemented CCP's translations, it'd let use implement them more easily (since we'll need unicode for any strings that  interact with those).

[2017-03-01 05:36] blitzmann commented on #1020
@MattSeibert 1.14 is very old, but there should be a migration path to bring it up to the current version (and we take a backup of the database during migrations, hence all the migration databases you have in the user directory)

If this is true, it's simply due to coincidence. 20 is simply the release after 19, it's not a major version change. Additionaly, these are XML exports which should not h

[2017-03-01 05:46] blitzmann commented on #235
Ah yes, thanks for reminding me.

Merged with 3209459e6d831ade0f68011da668372369004110 (#995)

[2017-03-01 06:11] blitzmann commented on #1017
I don't have an opinion on that either way. I don't know if we'll ever support translations properly, but if we do we could always address this at that time (since we'd be in the code base anyway), or start now and ensure things are correct. Values that we know are always going to be ascii should remain (pretty much anything in `eos` - attributes, groups, etc), as unicode isn't needed for those an

[2017-03-01 15:21] blitzmann commented on #1016
Pretty much what I had in mind. However:

There are some panels that make more sense to be removed entirely instead of minimized (RR panels when literally 0 remote reps are active). This would also remove the problem of determining this: if it automatically minimizes, and the user explicitly expands it, what future states are possible? Removing it completely from the user's interaction would solve

[2017-03-02 19:11] Ebag333 opened #1024 "Windows smartscreen is preventing this app from installing on windows 10."
Windows is getting more strict on apps that can run.  Need to look into how to register and sign Pyfa to avoid this.

We need to do this both for the installer and executable.

This has been reported in the wild:

[2017-03-02 23:58] dyh135 opened #1025 "Wrong Links Value"
The EHP after shield harmonizing/Armor Energizing burst are not correct with ingame value, resistance are much higher than ingame value

[2017-03-03 00:02] Ebag333 commented on #1025
do you have numbers from in game, and the eft fit?

[2017-03-03 01:04] blitzmann commented on #1025
Yeah, gonna need more info than that, ie: the information that it requested when you open a new issue 📦

EFT fit of the booster and booster, the values that you get vs the values that are expected, etc.

[2017-03-03 01:08] blitzmann commented on #1024
It shouldn't prevent installation. IIRC SmartScreen is an IE thing where it takes the hash of the downloaded file and submits it to Microsoft, and they determine how often it's downloaded etc. I know there's a way to sign the executable, never looked into it though. Will take a look for possible inclusion of future releases.

For future reference, this has a bit of information: https://blogs.msdn.

[2017-03-03 01:35] dyh135 commented on #1025
![image](https://cloud.githubusercontent.com/assets/24664128/23534374/7b147aec-ff85-11e6-9197-25f9346a19ab.png)

with only Armor Energizing on, EHP in pyfa 358665

in game value
![image](https://cloud.githubusercontent.com/assets/24664128/23534401/b6ead39a-ff85-11e6-9c8c-d51481812ba2.png)

EHP 341419

------------------------------------
[Damnation, Link Damnation]

Damage Control II
Corpus X-Type

[2017-03-03 01:47] Ebag333 commented on #1024
It doesn't, but it scares people (especially with, ahem, rumors of viruses/malware in other apps...).

Mostly this was just a reminder to myself (and you) that we need to figure out how to sign the exe files so Windows is happy.

[2017-03-03 01:51] Ebag333 commented on #1025
So this is just using bursts on itself? You aren't using the projected/command tabs?

[2017-03-03 02:12] dyh135 commented on #1025
The issue can be reproduced when it boosts to other shipz, I just make this as a more simple example.

[2017-03-03 02:24] blitzmann commented on #1025
Ehp is calculated differently in the eve fitting window than it is in pyfa (and virtually all fitting programs). Can look into right now on Mobile, but if the resists are more or less the same, there is probably no issue.

[2017-03-03 02:42] dyh135 commented on #1025
The EHP in eve fitting window is the same as EFT.  The problem was founded when I want to decide whether to fit a damage control or A-type adative membrane, it shows in pyfa that with bouns A-type is better, but actually in game due to stack penalty with boost, damage control is better.

[2017-03-03 03:34] Ebag333 commented on #1025
Pyfa doesn't calculate EHP the same way that in-game or EFT does.

We've known for a long time that there's some rounding going on in EVE (just look a the resists in game).

The million dollar question is, are those resists actually rounded off when the damage taken is calculated, or not?  In my experience, the answer is no, which means that there's a discrepancy between the fitting window and act

[2017-03-03 04:08] dyh135 commented on #1025
Thanks you so much for the explanation. It makes more sense as we know #CCP rounding. I should review some fittings now ,cause those 1.5-2% resistance do make difference in terms of capital like supers and titans.

[2017-03-03 05:43] blitzmann commented on #1025
Home now, and I concur with everything ebag said.

Closing this as it's a non-issue :)

[2017-03-03 05:43] #1025 closed

[2017-03-03 05:46] blitzmann commented on #1024
One of the reasons I didn't get around to it before is because it would require a cost for a cert, unless it's self-signed (in which case, might as well not have one). I don't know how much it was, but at the time I was a broke dude so I nope'd out of that. Would need to look into the costs associated again

[2017-03-03 05:51] blitzmann commented on #1024
eh, I love pyfa, but that's kind of a hefty price to solve a problem that a few folks have. To me, getting it on GutHub instead of some random Russian ad-ware sketchy download site (cough eft) is reputable enough.

pyfa's always run into antivirus and related softwares for a few select folks before, dunno if there is much we can do besides looking into self-signing (of which I don't know if there

[2017-03-03 06:01] Ebag333 commented on #1024
Let's Encrypt is free (yay!), reputable (EFF), and _might_ work for SmartScreen.

[2017-03-05 19:02] sup3rb opened #1026 "Probe Size tooltip - incorrect display and incorrect formula"
## Bug Report
Probe size tooltip doesn't change as sensor strength of fit changes.  Also, the comment in code seems to indicate PYFA is using a pre-nerf version of the probing formula.

### Expected behavior:
Probe size should vary as sensor strength of fit changes (and follow the correct ratio formula; which is floored at 1.08, contrary to the comment in def probeSize(self).

For reference, see
h

[2017-03-05 20:10] blitzmann commented on #1026
Hmm, seems to only update if the sig radius changes, but doesn't update if the sensor strength changes. I'll take a look into that and also the 1.08 claim. Thanks for the report!

[2017-03-05 22:02] blitzmann commented on #1026
I've fixed the issue with it not updating in our dev branch. The reason behind it is simple: the stats that you see are cached, and when a fit is changed we check to see if the stats we're looking at has changed. In this situation, the probe size tooltip was added while checking the sig radius cache (so if sig radius didn't change, this wouldn't update properly)

I simply moved the tooltip assignm

[2017-03-05 23:41] bjjerry opened #1027 "Unable to drag and drop module into first low slot"
Nothing happens when you attempt to drag and drop a module into the first low slot. To replicate this bug, fit a low slot module to the ship. Drag it from the first low slot to any other, then attempt to drag it back.

This happens because the first low slot's modPosition is 0, so the if block beginning on fittingView.py:409 is not correctly entered when it is the drag and drop target. Checking if

[2017-03-06 00:46] Ebag333 commented on #1027
Did you submit a PR? Don't see one....

Sounds legit. Would like to see your fix. :)

[2017-03-06 02:33] blitzmann commented on #1027
Been in touch with @bjjerry on Slack, he's going to submit a PR. But indeed, this sounds like an issue of not checking for None explicitly. Nice catch!

[2017-03-06 02:59] bjjerry commented on #1027
Sorry for the delay, went to grab some food and needed some lessons that @blitzmann was kind enough to provide. Hoping everything is now in order.

[2017-03-06 03:19] bjjerry opened #1028 "Drone stacks not correctly contributing to fittings price"
Other than the first drone of a stack, drones do not currently add to the cost of a fitting. To reproduce this bug, add two drones to any fit. The first drone is counted, but the second one isn't. Will poke around some and see what I can find.

[2017-03-06 03:37] Ebag333 commented on #1028
@blitzmann just made a change a month or so ago that stopped it from doing a price lookup for each drone.

Might be related to that...

[2017-03-06 04:18] blitzmann commented on #1028
That is almost certainly the cause. I'll investigate. Should be an easy way to fix this.

Thanks for the report!

[2017-03-06 04:18] bjjerry commented on #1028
Same with cargo, first charge is counted, additional aren't.

[2017-03-07 17:50] Flannelz opened #1032 "Price of Ammo not being calculated"
# Submit a bug report bug report or feature request

Here you can inform pyfa developers of potential bugs or suggest features / improvements to the project. Please check
to make sure that the bug hasn't been reported or feature requested before submitting. If you have general questions
about the project and want to reach out to the developers personally, please check out out our [Slack]
(https://

[2017-03-09 04:50] blitzmann opened #1033 "DEV: Preference Window now spawning"
Probably a bad merge or something along those lines. Not sure exactly when this broke

[code]

@Ebag333 maybe it'll be quicker for you to delve into this since you're more familiar with the changes you made. Otherwise I'll take a look asap

[2017-03-09 05:16] Ebag333 commented on #1033
I mispelled it somewhere along the way.  Thought I fixed this before, but it might have gotten reverted while I was fiddling with the patch.

[2017-03-10 15:40] gamingloser opened #1035 "the Ore implant is not applying bonuses to exhumers when pilot is in a rorqual"
The cycle times and range of strip miners is not affected by a pilot boosting in a rorqual with the ore mining implant.

[2017-03-10 15:42] Ebag333 commented on #1035
Do you have example fits that you can post?  And a screenshot of the in game numbers showing this?

[2017-03-10 15:48] gamingloser commented on #1035
![untitled](https://cloud.githubusercontent.com/assets/26329647/23801643/de70137c-057e-11e7-8e12-9a17a7f7d705.png)

![untitled1111111](https://cloud.githubusercontent.com/assets/26329647/23801641/dbbe95c2-057e-11e7-8260-6c82730d20e9.png)

I don't have an in-game screen shot on, but a maxed out rorq pilot will extend the range of hulk pilot with t2 strip miners out to 40km.

[2017-03-10 16:59] blitzmann commented on #1035
Command boosting fits should be added to the Command tab, not the projection tab. The mechanics in how things are applied are slightly different.

[2017-03-10 18:01] qnub opened #1036 "[1] 12406 segmentation fault (core dumped) ./pyfa.py"
## Bug Report

Crashing from time to time on different fit actions. Mostly on add/remove item to/from fit. Sometimes also on fit opening.

### Detailed steps to reproduce:

Often add/remove item or open fit. When PyFa crashes on fit opening it can crash 2-3 times but then it opens same fit without problem. Maybe it happens when doublecliking items too fast. Not sure.

Last log string in console:

[2017-03-10 19:39] blitzmann commented on #1036
Do you have Automatically Export to HTML enabled in the preferences? That have been reports through the years that if you have this enabled, and then do fit actions in quick succession, a segfault happens. Try turning it off and see if that helps.

The auto export to html is less useful now with the game browser axed

[2017-03-11 00:02] qnub commented on #1036
Hm, yes, autoexport was enabled. Will check without it. Thanks!

[2017-03-11 06:07] blitzmann commented on #1036
Let me know how your testing goes so that I can close the issue :)

[2017-03-11 06:16] qnub commented on #1036
Yeah, looks stable now. Can't crash it. Thank you 👍

[2017-03-12 00:20] blitzmann commented on #1036
Sweet, glad to hear it's working :)

[2017-03-12 00:20] #1036 closed

[2017-03-12 00:29] blitzmann commented on #1035
@gamingloser did you get it working by applying it as a command fitting? Let me know so that I can close this issue / dig into further

[2017-03-12 12:43] gamingloser commented on #1035
@blitzmann Thank you for the program and follow up.

Sometimes the range seems affected by the boosting rorq's implant and sometimes it doesn't. This goes for both ice strip miner II and modulated strip miner II.
![untitled11212](https://cloud.githubusercontent.com/assets/26329647/23831860/c90fa704-06ff-11e7-8822-d39d342a4c75.png)

The range for Modulated Strip Miner IIs should be 40km with a perf

[2017-03-12 20:40] #1033 closed

[2017-03-14 02:27] blitzmann commented on #1035
Can you tell me if the values without the implant look correct? I'm trying to isolate where the issue is coming from - the modules, charges, or implant.

[2017-03-14 02:31] blitzmann commented on #1035
Also

This doesn't help much. I need to know specifically, what you're getting vs what you expect to get with all things considered.

Ensure that the boosting fit has their boosts active on their own fit, and that the proper charges are loaded (I see that one of them is online but not active in one of the screenshots). Need to cover the bases. :)

[2017-03-14 02:36] blitzmann commented on #1032
Thanks for the feature request.  :)

However, I'm not sure this is what we want. In order to calculate it, we would take the charges that are in the guns and apply them to the price getter. The problem is that it's only going to be 1 full clip per weapon, and the overall cost of 1 clip of ammo is going to be, for the most part, negligible in comparison to the fit. I feel this really should be dele

[2017-03-14 02:43] Ebag333 commented on #1032
We should have access to the quantity (buried somewhere).

I've been meaning to look at price getter.  If we're getting the actual price every time it's queried, then we probably shouldn't do that.  If we're not, then it should be trivial to loop through and just add it all together, since it's cached.

Hmm. Maybe it'd be useful to have a property on the item for the price. I really do want to dig

[2017-03-14 03:29] blitzmann commented on #1032
It already is cached, 24 hours I believe. And yes, we have a qty available. But the problem comes from how the prices are applied. It's calculated at the gui level. So this is what happens:

1. Price pane loops through modules and adds each itemid to a list.
2. Price service fetches prices, and returns them in a list with the same index (index 1 input corresponds to index 1 output)
3. The price pa

[2017-03-14 03:32] Ebag333 commented on #1032
I think that a simple property on the Item class level might help a lot. Cache the price there and we can fetch it as needed with price and quantity. Should simplify things quite a bit, because then we just loop through all the items and get the price, no need to create a list of ids.

[2017-03-14 17:57] Ebag333 commented on #1032
https://puu.sh/uIJ18/c5b6f6fbea.png

Think that this will _significantly_ simplify our price handling.

[2017-03-14 22:55] Ebag333 commented on #1032
I believe that #1038 addresses this. :)

[2017-03-14 22:56] Ebag333 commented on #1028
See #1038 for possible solution.

[2017-03-14 22:57] Ebag333 commented on #678
See #1038 for a partial solution.

It doesn't add a price column.  _Yet._

[2017-03-14 22:58] Ebag333 commented on #651
@blitzmann I haven't seen this happen in ages (since we did all the refactoring), have you?

If not, I'd suggest we close this.

[2017-03-15 03:33] blitzmann opened #1039 "DEV: can't open preferences"
On OS X and Linux. OS X build here:

![image](https://cloud.githubusercontent.com/assets/3904767/23932440/5a884da2-090e-11e7-87be-dcd95cd08c9e.png)

Same error on Linux:

[code]

I'll take a look at the new images I added, make sure they're the proper size. Happens on source for Linux, build on OS X, haven't tested source on OS X yet but I expect it to be the same. Windows works fine.

As an aside

[2017-03-15 03:37] blitzmann commented on #1039
Ah, well that's easy. The gauge image is 64x64 while we define the image list to 32x32. Should be an easy fix

[2017-03-15 03:39] Ebag333 commented on #1039
Ironically works under Windows and nothing else?

[2017-03-15 03:40] blitzmann commented on #1039
lol yep :D

[2017-03-15 03:43] blitzmann commented on #1039
fuck, I fucked my project up somehow. need to fix this again

[2017-03-15 03:44] Ebag333 commented on #1039
`[Pyfa] Branch "development" was force-pushed to `1112415` by blitzmann.`

😕

[2017-03-15 03:46] blitzmann commented on #1039
Yeah, my source control is on my Sync folder, and I think it was doing something right as I committed. Removed every file. Had to revert. :/

[2017-03-15 04:03] #1039 closed

[2017-03-15 09:42] 18pd opened #1040 "Ancillary Reps and Cap Use"
As of 1.27.2 this is still a thing and has been for a couple of point releases.

Loading Small, Medium and Large Ancillary Armour Reps with Nanite Paste seems to (broadly) half their cap use in Pyfa which AFAIK has never been a thing. Having just checked in-game loading with paste seems to have no effect on AAR cap use.

[2017-03-15 11:11] #1040 closed

[2017-03-15 22:33] Ebag333 opened #1041 "Shuttles (and likely all ships with 0 slots) stacktrace"
[code]

Get this when opening a shuttle.  Most like simply because there are no slots but haven't looked into it.

[2017-03-16 00:06] blitzmann commented on #1041
Thanks, it's been fixed. We don't even use the line that was failing, so I removed it.

Also force pushed to master by mistake - thought I was in dev branch. x_x just fyi :)

[2017-03-16 00:08] blitzmann commented on #327
Gonna close this issue since this is probably no longer a thing.

[2017-03-16 00:08] #327 closed

[2017-03-16 01:26] bjjerry opened #1043 "Implant sets right click context menu no longer opening"
In pyfa 1.28.0 under windows 7 I am no longer able to right click in a fit's Implants tab to load a saved implants set. If memory serves, last version did not have the Variations selection in the right click context menu when selecting an implant that has been added to a fit's Implants, so maybe this bug is related to that.

[2017-03-16 02:00] blitzmann commented on #1043
@Ebag333 possibly something with the new context menu settings or the variations thing we added?

[2017-03-16 05:06] mossyblog opened #1044 "OSX - Character Creation Not Responding."
OSX Version 1.28
-
Removed a character profile to re-add it.

When creating "new character" pyfa goes into an unresponsive state (ie appearance of a thread lock).

Now unable to add any new character outside the defaults 0 and 5.

[2017-03-16 05:46] Ebag333 commented on #1044
Can you post your log file somewhere?  should be found in your home directory, named Pyfa-<date>.log.

[2017-03-16 06:19] Ebag333 commented on #1043
[code]

I've noticed this popping up.

[2017-03-16 09:46] Ebag333 commented on #1043
PR submitted with a fix.  Thanks @bjjerry for reporting this!

[2017-03-16 14:30] blitzmann commented on #1044
What OS X version are you running?

[2017-03-16 14:58] blitzmann opened #1046 "Matplotlib error"
https://forums.eveonline.com/default.aspx?g=posts&m=6874110#post6874110

https://puu.sh/uLgDi/44d2294e40.png

worked in 1.27.0, but not 1.27.2+ (1.27.1 wasn't a thing because I fucked up the build :3)

[2017-03-16 17:13] jhudson-demandbase opened #1049 "No option to remove modules in 1.28.0"
## Bug Report

Unable to remove modules from any fit in 1.28.0 on OSX

### Expected behavior:
Option to _Remove Module_ is shown

### Actual behavior:
No option to _Remove Module_

![image](https://cloud.githubusercontent.com/assets/15617521/24009100/1e9b0b4e-0a31-11e7-9274-6e6bf524d6bb.png)

### Detailed steps to reproduce:
1. Add module to fit
2. Right-click module

### Fits involved in EFT form

[2017-03-16 17:31] Ebag333 commented on #1046
#1050 should fix this.

We need to hotfix this into master, because of the import issues, but there's some additional handling for exceptions that happen deep inside matplotlib.

It's not _exactly_ a fix, but at least lets us gracefully handle the failure.

[2017-03-16 17:32] Ebag333 commented on #1049
#1047 should address this.

Thank you very much for the incredible bug report!

[2017-03-16 19:21] blitzmann commented on #1049
Yeah, this is how a bug report should function :D

@Ebag333 you sure the PR addresses this issue as well? The PR deals with implant sets, this one is for removal. Just want to make sure, will test tonight :)

[2017-03-16 19:35] Ebag333 commented on #1049
99.9% sure. As reported on the other issue we dutifully logged two errors importing settings.  So the extra logging worked to catch it, just the meat based computers failed to catch the error.

One was for implantsSets and the other for remove.  I did take care of both in that one PR.

I can submit another PR if you _really_ want me to. Pad my commit counts some more. 😉

[2017-03-16 19:45] blitzmann commented on #1049
Doh, I see it now. Sorry, was looking at the page on an old screen that has bad color representation, the green lines blend into the white

Thanks :)

[2017-03-16 21:35] ppfeufer opened #1052 "(Linux) Memory Leak in 1.28.0"
The current version - 1.28.0 - seems top have a massive memory leak.

The app won't start and after eating up roughly 8GB of RAM and 5GB of my swap drive I managed to finally kill the application.

[2017-03-16 21:47] Ebag333 commented on #1052
Can you check the Pyfa<date>.log file in your home directory?

Can you try running with debugging turned on?

`python pyfa.py --debug --logginglevel Debug`

[2017-03-16 22:48] blitzmann commented on #1046
Thinking it a font cache issue. I'm going to have the user clear up their ~/.matplotlib and see if that helps.

https://github.com/matplotlib/matplotlib/pull/5233

https://github.com/matplotlib/matplotlib/issues/1648/

A new build might also help - I'll try to make that a priority with this next release cycle. TravisCI may actually help with that - I want to research it a bit more.

[2017-03-16 23:03] blitzmann commented on #1052
@ppfeufer does this happen consistently? Are you able to use the program at all? Which distro? Can you send me your `~/.pyfa` directory in email (sable.blitzmann@gmail.com) - send the whole thing in a .zip, not just the database file. I want to know what you have for settings as well.

Also, you are having DEBUG statements show even without specifying a debug flag. That is odd. @Ebag333 and ideas

[2017-03-16 23:04] Ebag333 commented on #1052
I'm not seeing this all on Windows, and there are other Linux users.

A serious issue to be sure, but I don't think that the world is on fire yet.

[2017-03-16 23:07] blitzmann commented on #1052
If it's happening for one person, probably happens for others.

[2017-03-16 23:24] #1026 closed

[2017-03-16 23:24] #1027 closed

[2017-03-16 23:24] #1041 closed

[2017-03-16 23:31] InfiniZ opened #1053 "Item filters not resetting on new group selection"
## Bug Report

### Expected behavior:
When swapping between item groups in the Market Browser, the "Normal/Faction/Complex/Officer" filters at the bottom of the window should be reset to their defaults (Normal is probably best).

### Actual behavior:
When swapping item groups, the filter for the previous group is maintained.

### Detailed steps to reproduce:
Screenshot 1 shows the Drone Upgrades g

[2017-03-17 03:43] blitzmann commented on #1052
I checked on my Linux Mint machine, can't reproduce. pyfa starts up as expected :(

Can you revert back to 1.27.2 and see if it still has the issue?

[2017-03-17 03:55] blitzmann commented on #1044
I tested on my OS X 10.7 VM, and I can create a new character fine. pyfa is known to have some problems with the more recent OS X versions, so it would be helpful to know which version you have. But for now, I can't reproduce :(

Additionally, did 1.27.2 work for you?

[2017-03-17 06:28] ppfeufer commented on #1052
So,

Some fun facts ....
If I start it _with_ the debug options, it starts just fine.

[code]
And so on until it starts ..... so all fine

If i start it _without_ the debug option, it leaks memory like hell.
[code]
Starts leaking memory .....

There is no Pyfa.log in my home directory
@blitzmann :: You got a mail with the zip of my .pyfa directory. Running the whole thing on a Gentoo machine.

[2017-03-17 06:34] Ebag333 commented on #1052
@ppfeufer can you please try this version of `pyfa.py`? Make a backup first.

https://raw.githubusercontent.com/Ebag333/Pyfa/717db2f9066a517c71b31c84f01610c02a1295ed/pyfa.py

Is there a PyfaDebug log file after running in debug mode?

[2017-03-17 06:40] ppfeufer commented on #1052
@Ebag333
No log file is written, it just spams all the stuff into my console.

paste here for reference:
[code]

[2017-03-17 06:49] Ebag333 commented on #1052
At least you have the console.  That helps some.

So here's what I'd like you to try, if you can.

1. Grab a screenshot of the Help -> About menu.
2. In the Preferences window, double check the Database preference and make sure that the User Path is what you expected it to be (I'm sure it is, but just want to double check).
3. Backup your existing `pyfa.py` file and replace with the one linked abo

[2017-03-17 07:00] ppfeufer commented on #1052
@Ebag333
to 1:
![screenie_118](https://cloud.githubusercontent.com/assets/2989985/24032277/7b78b080-0ae7-11e7-98c4-481b852975a3.png)

to 2:
Checked all paths, so the debug log is not in my home directoy, it's in me .pyfa dir.

to 3:
Did that, here's the log ... (looks like the same as I have in my console though ...)
[code]

[2017-03-17 07:02] Ebag333 commented on #1052
Did it behave any differently when you _aren't_ launching in debug mode?

[2017-03-17 07:04] ppfeufer commented on #1052
Nope, without debug mode still eating my RAM

[2017-03-17 13:55] alexjamcclean opened #1054 "2 annoying bugs"
In the most current Win exe. version:

* Have no functionality to remove modules! Restarting the programme resets the bug but it come sback after 1-2 mins.

*The market ceases to work after a couple of mins and can't select items to use in fits. Restarting the programme resets the bug but it comes back after 1-2 mins.

Using Windows 8

[2017-03-17 14:38] blitzmann commented on #1052
This is very weird.

When you say "start with debugging", does that mean with the `--debug` flag and the `--logginglevel` flag? What happens if you remove just the debug, and leave the logging. Or viceversa?

From the results of that, you could also try the different log levels found starting here: https://github.com/pyfa-org/Pyfa/blob/master/pyfa.py#L81

Maybe if we find out what is triggering it

[2017-03-17 16:00] Ebag333 commented on #1054
Do you mean the right click menu is missing remove? If so, there's already a fix for this.
In the meantime, double click or delete key will remove items.

Can you give more information on this? Also, check your user profile directory for the Pyfa log file and share it with us. You can find the path to the home directory in the preferences window under database. You can use gist to paste it to if y

[2017-03-17 17:50] ppfeufer commented on #1052
![screenie_119](https://cloud.githubusercontent.com/assets/2989985/24055844/f3828c90-0b41-11e7-95b3-92c66149d81f.png)
Double checked the mail address, looks pretty right to me.

[pyfa.zip](https://github.com/pyfa-org/Pyfa/files/851362/pyfa.zip)
But here ya go ...

Yes, with debug means with all the parameters given here in the conversation so far.

It starts with only the --debug option
It doesn't

[2017-03-17 18:04] Ebag333 commented on #1052
@blitzmann due to the....special....nature of Gentoo, we might simply be limited in how much support we can provide.

Since everything is built on demand by the user, Gentoo tends to be very different than even other Linux distros.

I'm going to try and download the live USB and replicate this, but if I can't there might not be much we can do.

[2017-03-17 18:08] Ebag333 opened #1055 "Crash on deleting fit"
Steps to reproduce:

1. Create new fit.
2. Rename.
3. Change character.
4. Open new tab
5. Copy first fit.
6. Change character.
7. Delete first fit

I could _only_ get this to work when running in non-debug mode.  Grrrr.

I did catch this error in the logs:
`[2017-03-17 17:58:37.261000] WARNING: gui.builtinViews.fittingView: Caught dead object`

I'm suspecting we might be trying to recalc the fit

[2017-03-17 18:11] Ebag333 opened #1056 "Enhancement: Logging Preference Pane"
Simple reminder to myself (or anyone else who wants to tackle it).

Move the user path out of the database preference pane (redundant).  Add the path and current log file to the logging pane, so we can direct users there to find it.

[2017-03-17 22:22] Ebag333 commented on #1055
First method _should_ fall back to the first page, then recalc.

Another way to crash it.

1. Launch pyfa
2. Clone existing fit.
3. Delete existing fit.

[2017-03-17 22:58] Ebag333 commented on #1055
From `fittingView.py`:

[code]

The culprit is `d.Display.Destroy(self)`.  It's literally destroying itself, which means that everything else we attach to self (like `self.getActiveFit()` and `self.mainFrame`) all no longer work.  This is an old bit of code (2010), so most likely we weren't attaching all this stuff to `self` back then.

Removing this line of code doesn't _seem_ to break anything,

[2017-03-18 01:34] blitzmann commented on #1055
Crashing when deleting a fit has been a long time problem - usually causes a seg fault with no real output. Has to do with events firing in the wrong order (last time I delved into it, which was a couple of years ago). it's been notoriously hard to consistently reproduce. Dunno if this is the same thing, but possible

See #164 and all other things that branch from it.

Can't test right now as I'm

[2017-03-18 01:38] blitzmann commented on #1052
There shouldn't be anything special with Gentoo simply because everything is compiled by the user instead of installed from a repo. Especially since 1.27.2 works.

I'll be taking a look at the commits between 1.27.2 and 1.28.0 and having @ppfeufer test a few packages to see where it's breaking. I still have a high suspicion it's the logger for some reason.

@ppfeufer  how dev savvy are you? Ever w

[2017-03-18 02:52] minlexx commented on #1052
I have a Gentoo too and tried to test pyfa. I downloaded zip, extracted, cd into. Trying to run ./pyfa.py directly:
[code]
Ok, this is because default python is version 3.4 on my system. Next try:
[code]
I see, not all required dependencies are included in distribution archives. But why sqlalchemy, wxwidgets or python-dateutil existence and presence is checked in pyfa.py startup lines, and logbook

[2017-03-18 03:44] Ebag333 commented on #1052
There is a `requirement_linux.txt` file. That should help you with the required files to run.

OFC that doesn't mean that Gentoo will have exactly those with the versions...

[2017-03-18 08:06] minlexx commented on #1052
Where? ![linux archive contents](http://i.imgur.com/ahPzkJX.png)
Only README.md and that doesn't mention logbook.

But bug is not about it.
I modified pyfa.py lines around line 263 this way:
[code]
and run pyfa without --debug. The first message was printed, the second wasn't, and python2.7 continued to consume memory.
[code]

[2017-03-18 08:50] minlexx commented on #1052
Oh, maybe I'm wrong, after that all logging goes into log file in ~/.pyfa/Pyfa-xxx.log?
I looks like some thread is eating all cpu core and (because Pyhton is single-threaded internally) other threads do not get enough time. Log contents:
[code]
I've added a bit logging here and there, and notice time difference between those:
[code]
Almost a minute has passed. Looks like GUI is starting, but very

[2017-03-18 09:13] ppfeufer commented on #1052
@blitzmann :: Well, I'm not a pro with git, but what ever you need me to do, just let me know and I see if I can get it done.

@minlexx :: Thanks for stepping in and helping as well.

[2017-03-18 15:28] Ebag333 commented on #1052
So here are the differences that I can think of.

1. In debug mode we aren't redirecting StdErr to the log.
2. In debug mode we are always printing to the console.

If I had to guess, I would say that it's the second one. Something about the way that Python was built on Gentoo is forcing all output to the console. When we try to use the FingerCrossed handler, there's an error getting spammed that'

[2017-03-18 16:30] minlexx commented on #1052
If you have other distro where it works fine, can you plz tell logbook version there? This would be the easiest thing to test...

[2017-03-18 18:16] Ebag333 commented on #1052
I couldn't get Gentoo live USB to work for me.   could get to the selection screen, but when it launches just goes to a blank screen. :(

I need to rebuild my Ubuntu environment.  I trashed it testing locale issues.  Once I've done that, I'll get the logbook version for you.

[2017-03-18 19:44] gscottnelson opened #1060 "(CREST) Can't Export Fit to Eve - unsupported type"
On multiple Mac computers, I am getting this same error message...see attached screen shot.   I get it when I get the modal window clicking "Export Fit to Eve"
![screen shot 48](https://cloud.githubusercontent.com/assets/10010885/24075428/704c4d5e-0be9-11e7-8429-8c626d3813ba.png)

[2017-03-18 21:32] Ebag333 commented on #1060
I tried recreating this couldn't get any errors.

Can you post your exact EFT fit here?

Also, can you post your pyfa.log file?

[2017-03-18 21:34] Ebag333 commented on #1055
It's not exactly the wrong order, but that's exactly what I thought too when I first looked into it.  The way the code is done, it's easy to fall down that rabbit hole, but it doesn't go anywhere.

The methods above are reproducible 100% of the time for me.

Regardless, we should _not_ be destroying `self`.  We attach everything to it, so that's a really bad thing to do.

#164 might be something e

[2017-03-19 03:04] blitzmann commented on #1055
I can't get it to consistently reproduce, at least with the methods listed above.

I can, sporadically, get it to crash with having the fitting open when it's deleted, as noted in #164 and all things related to it.

Also, `d.Display.Destroy(self)` is definitely what we want to do. We override it here to clean up some bindings, but we still then need to actually destroy the page. `self` in this cas

[2017-03-19 03:10] blitzmann commented on #1060
So, from that error, it looks like we're trying to send a float instead of an int/long. Should be an easy case of `int(value)`, just need to know what exactly need the treatment. EFT fit would help, but I may need the database itself later.

[2017-03-19 03:34] blitzmann commented on #1052
@minlexx thanks a ton for the additional information

`logbook` is a new thing, and we forgot to add it to the requirements. Will do that. The Linux package that we release is basically just the source, it's up to the user to gather all dependencies. We may change this in the future depending on how new build solutions go, but this has been the case forever (we assume linux users know their way ar

[2017-03-19 03:45] blitzmann commented on #1052
And as for more information:

The `debug` flag simply switches the handlers that we use. When it's on, it uses `stdout` and `TimedRotatingFileHandler`. If it's not on, then it uses `FingersCrossedHandler` - this may be the issue here (why, I don't know)

If the issue still persists, please replace the contents of pyfa.py with this: https://gist.github.com/blitzmann/74a85a53ae4fd6dbe9cd844a6cab59dd

[2017-03-19 03:49] Ebag333 commented on #1055
The first method listed is tricky, because I think if you do things slightly out of order then it won't work.

Also, keep in mind, I could _NOT_ get it to work when I was running in debug mode with full logging.

Let me walk you through the logic.  In `chromeTabs.py` we have this function:
[code]

Now, `page.Destroy()` is where we dip into the function listed above in `fittingView.py` (it goes thr

[2017-03-19 03:53] blitzmann commented on #1052
Actually, I went ahead and downgraded to 0.9.1 on my Mint VM.

Results:

![image](https://cloud.githubusercontent.com/assets/3904767/24078007/1f859a0e-0c36-11e7-896e-eff8c2193369.png)

GUI popped up, but shortly thereafter everything went to shit and became unresponsive - had to force quit. So I'm like 99.5% sure using v1.0.0 will fix those issues. Please confirm when you can :)

[2017-03-19 03:55] Ebag333 commented on #1052
`FingersCrossedHandler` is relatively new.  We may need to check the version of Logbook, and if it's below `1` force it into a debug like mode.

[2017-03-19 04:06] blitzmann commented on #1055
Uhh... https://gyazo.com/5450b6d91561a8f211293425d8e85713

Note that the page isn't deleted, because we remove the command to delete it. :)

I am absolutely of the opinion that this is a race condition as you suggest - all signs point to it as noted in the other issues where I've delved into it. The problem is how to fix it. I've been meaning to take a long hard look at how the fit deletion / tab

[2017-03-19 04:08] Ebag333 commented on #1055
Weird.  That seriously doesn't happen for me.

If it's the only tab, or the tab on the far right, it deletes fine.  There does seem to be an issue when it's a tab in the middle of two other tabs though.

[2017-03-19 04:09] blitzmann commented on #1055
Also note: this is an actual seg fault at the wxWidget layer (at least the reproductions that I can do). So, try/except generally won't work. :/

[2017-03-19 04:11] blitzmann commented on #1055
Nope, not for me. The object still exists, so it's floating around in the GUI (it's container is probably gone though). So for me, having multiple fits open after closing a tab is very glitchy and the fitting window spazes between the deleted view and the active view

[2017-03-19 04:13] Ebag333 commented on #1055
No, I'm tackling it from the `sel = self.tabsContainer.GetSelected()` side of things.

We _have_ a list of tabs in `self.pages`.  Why are we asking the GUI which page we're on when we should know?

Basically just bypass the race condition entirely.

Probably due to using slightly different versions of wx or something.  vOv

[2017-03-19 04:15] blitzmann commented on #1052
Naw, I'm showing documentation from way back in `0.3`

And this from 7 years ago: https://github.com/getlogbook/logbook/commit/a2b259cf1d63d5fdd88d478b6efb08a043ceec3b

;)

[2017-03-19 04:16] Ebag333 commented on #1052
Since I'm working on a 10 year old bug, I did say _relatively_. ;)

I've been dealing with people using 10+ year old software all week.  Kinda changes your perspective....

[2017-03-19 04:48] Ebag333 commented on #1055
Something I forgot to mention.

If you chase this back up the stack, you end up in `fitRemoved` in `fittingView.py`.

`self.parent.DeletePage(self.parent.GetPageIndex(self))` is where we nuke it.

If you check `self` after that line you get....a `wxPyDeadObject`.

Which means that later, when we do:
[code]

Neither line will work.  `self.getActiveFit()` stacktraces because `self` is a wx dead obje

[2017-03-19 04:58] Ebag333 commented on #1055
Okay, so I can work around the race condition with `sel = self.tabsContainer.GetSelected()`.

The problem is, as mentioned above, when we get up to `fitRemoved` in `fittingView`, `self` is gone.

I can recreate `self.mainFrame` so that we can get past `fitRemoved` okay.
[code]

In this case, we we fall into the `if` and not the `else` (old code), so we get out without an exception here.  Problem i

[2017-03-19 06:03] Ebag333 commented on #1055
@blitzmann I believe I have a fix.  I'm not experiencing any GUI weirdness.

It's along the lines as before, _not_ destroying the object.  I'm aware that means that "deleted" objects will stay in memory and we're essentially orphaning them, but I don't see a better solution at the moment.

If you can take a look at my branch: https://github.com/Ebag333/Pyfa/tree/Suicide_is_NOT_painless

Changes fr

[2017-03-19 19:01] ppfeufer commented on #1052
Ok, I tested several logbook versions and version 1.0.0 (which is not marked as stable) did the trick. So it is indeed an issue with logbook. It's worth adding that to the readme I guess.

[2017-03-19 19:57] blitzmann commented on #1052
Awesome. I'm not sure hoe Gentoo handles the stable / unstable flag, but v1.0.0 is the latest release. It's been added as the minimum version for pyfa. :D

[2017-03-19 20:22] blitzmann commented on #1060
I got it to reproduce, will be looking into it. Has to do with charges

[2017-03-19 20:28] blitzmann commented on #1060
Fix was easy, see commit. I can't think of any scenario in which we need to return anything but an int for `numCharges` so I add it there.

[2017-03-19 20:31] minlexx commented on #1052
I'll test it tomorrow, too (had no time today) 😭

[2017-03-19 20:32] blitzmann commented on #1054
Yeah, the remove module/drone/etc option was accidentally removed. Gonna make a point release tomorrow hopefully with that fix.

I have no idea about this - works fine for me. No one else has mentioned this. Perhaps wait for the point release to see if you're still experiencing issues. :)

[2017-03-19 20:33] blitzmann commented on #1044
@mossyblog any news? It would be helpful to know the OS X version you're working on. :)

[2017-03-19 20:34] blitzmann commented on #1035
@gamingloser *poke* please let me know if you can get me the information requested. :)

[2017-03-19 20:59] blitzmann commented on #1055
Well yeah... because pyfa shuts down and releases everything from memory. Not exactly garbage collecting in the traditional sense.

That being said, I can confirm through the wxInspection tools that the pages still hang around, and I'm noticing a quick blip in the pages when changing while using your branch. The fact that the object itself isn't deleted worries me a bit (pyfa is already kinda high

[2017-03-19 21:01] blitzmann commented on #1055
Additionally, we could probably create a system that cleans up the pages if we go that route: simply register "deleted" pages with the container, which would periodically go through and `Destroy()` them via a Timer.

[2017-03-19 21:08] Ebag333 commented on #1055
Hacky as fuck? You just reinvented garbage collection. :D

[2017-03-19 21:09] blitzmann commented on #1055
basically ya :P

[2017-03-19 23:45] mossyblog commented on #1044
It appears to have resolved itself in the 1.28 latest (ie downloadable via osx).

[2017-03-20 01:37] Ebag333 commented on #1055
You roughly have the gist of it.  Because we're (ab)using `self`, it keeps getting passed down.  What _really_ trips me up is when we're in the method where we murder the page, the `self` there isn't the fittingView object (the page is), but then I remember that we can have parents that have a child that has a child that's it's own parent.

I believe it's basically `I am my own grandpa` in code.

[2017-03-20 01:55] jlee2109 commented on #1049
This bug is also present on Windows in v1.28.0.

[2017-03-20 11:25] minlexx commented on #1052
Can confirm, with `dev-python/logbook-1.0.0` pyfa starts fine here without `--debug` option.
Gentoo users have to *unkeyword* unstable versions of packages to be able to install them, with command like this:
[code]
But I guess @ppfeufer already knows that.

[2017-03-20 13:46] blitzmann commented on #1052
I'm assuming it can also be added via python's pip rather than going through the distros repo.

Anyway, glad we got that sorted out. :D

[2017-03-20 13:53] blitzmann commented on #1049
Yep, we're aware and it's been fixed. I updated the title to reflect that. I will try to get a new release out the door tonight :)

[2017-03-20 13:54] blitzmann commented on #1044
kk. If it happens again, simply reopen the issue. Thanks!

[2017-03-20 13:54] #1044 closed

[2017-03-21 01:03] #1043 closed

[2017-03-21 01:03] #1046 closed

[2017-03-21 01:03] #1049 closed

[2017-03-21 01:03] #1052 closed

[2017-03-21 01:03] #1060 closed

[2017-03-21 02:18] invisusira commented on #1053
is THAT why it does this? I've been closing and restarting pyfa for a month now because I thought it was bugged. seriously annoying.

[2017-03-22 07:07] BartMassey commented on #1026
svRagnarok of Signal Cartel has led a bunch of tests in the past month. My reading of his resulting forum posts and spreadsheets is that any Probe Size < 1.087 seems to be cut off at 1.087, which corresponds to Probe Strength around 78.6: pretty easy probing for a reasonably-equipped and skilled prober. So you may want to mail svRagnarok in-game to confirm, or leave the cap where it is, or just ge

[2017-03-22 07:32] BartMassey opened #1061 "Council Diplomatic Shuttle not available"
Pyfa does not provide the Council Diplomatic Shuttle. Yes, I know that it has zero fitting slots :-). But it would be nice to be able to look at its characteristics out-of-game when playing with stuff, and I'm guessing it would be easy to add?

[2017-03-22 13:33] blitzmann commented on #1061
I can add it easily. It's forcefully being hidden, and has the note of `CSM X celebration` next to it. What is this ship and is it available to players (I assume not)?

If anything, it would go in the custom Limited Edition ship group since it's not something players would normally be  able to get.

[2017-03-23 02:17] blitzmann commented on #651
Thought I closed this. If you notice it, please reopen. Thanks for the info :)

[2017-03-23 02:17] #651 closed

[2017-03-23 08:12] BartMassey commented on #1061
The Council Diplomatic Shuttle is widely available to players, as blueprints were given to everybody a while back. It goes for less than 1M ISK right now, so not too rare. <https://eve-central.com/home/quicklook.html?typeid=34496> I think the shuttle group is in fact the right place for it. (This is also where it lives in-game.) Thanks.

[2017-03-23 10:24] Kyria commented on #1061
https://community.eveonline.com/news/dev-blogs/in-celebration-of-csm-x/ for "where it comes from" :)

[2017-03-23 17:54] Ebag333 opened #1064 "Stacking penalties calculated incorrectly"
Okay, this is pretty nit picky, but our stacking penalties are wrong.  Possibly simply a float or rounding error (as it's only seen when looking 4 decimal places deep).

Figured this out writing a test for Eos.  Below are the EM resists for a T1 ship with 0-10 `EM Ward Amplifier II` added to it.  The left side is what we get from Eos, right side is manually calculated one.  (Formula cribbed from I

[2017-03-23 21:45] Ebag333 commented on #1064
Turns out the actual formula is this:

`1 / math.exp(((_ - 1) / 2.67) ** 2.0)`

So, Pyfa is spot on. 👍

[2017-03-23 21:45] #1064 closed

[2017-03-25 00:54] Ebag333 opened #1066 "Backup solutions"
Something that I've been thinking about lately....Git isn't a backup solution.  Yes the repo lives on many computers, but all it takes is one bad push/merge/reset/rebase/etc and you can lose a lot of history.

So, we should probably find an actual backup solution.  Shouldn't cost much/anything since we're talking about 30 megs worth of stuff.

Note to self: research backup solutions for Git.

[2017-03-25 05:01] blitzmann commented on #1066
Is it possible to fuck up the repo beyond help? Sure. If I make a new, fresh repo, make a single commit, and then force push that to pyfa-org/master, that would be a huge problem. But this isn't something that really needs to be worried about long term without the existence of a malicious user with write access. Additionally, I would assume any sort of automated backup system would be affected by

[2017-03-25 05:14] Ebag333 commented on #1066
I just spent over half an hour helping someone in devfleet who had the same problem we did last night.  The user wasn't malicious, just didn't understand how hard resets and force pushes work.

You could do a lot of damage without easily being caught (intentionally or otherwise), even just by submitting a PR that gets merged in (since the merge will take in your alternative history).

A backup sol

[2017-03-25 17:56] blitzmann opened #1067 "Debug statements printing for linux without logging flag"
@Ebag333 you may have a quick fix for this. On current master (fd745c5f623b71be628b89e98aba682b4b180b41), running pyfa on Mint:

`python -B pyfa.py`

no `--debug` or `--logging` arguments, however, debug logs still print.

![image](https://cloud.githubusercontent.com/assets/3904767/24324780/bd618234-1162-11e7-83c6-be7bb032538d.png)

Additionally, the configforce not being there should probably be

[2017-03-25 18:03] blitzmann commented on #1067
Can confirm this does not happen in Windows.

[2017-03-25 18:22] Ebag333 commented on #1067
Can you use the new `pyfa.py` from #1048 and see what the info messages give for environment?

[2017-03-25 18:45] minlexx commented on #1067
May those logging messages be printed before logging was fully initialized (stdout/stderr redirected)? I guess those message are printed somwhere near initialization of database (during import eos.db or something like that)? Before the line that finally setups logging.

[2017-03-25 18:49] Ebag333 commented on #1067
`with logging_setup.threadbound():` is where we initialize logging.  No logging messages can be printed until after that statement.

Hmm, gives me an idea where it might be coming from though....

[2017-03-26 16:36] blitzmann opened #1069 "Investigate: Use common Effects classes across all items"
From https://github.com/pyfa-org/Pyfa/pull/1042#issuecomment-286923662:

Still want to look into this, but it's a lowish priority.

[2017-03-26 18:32] blitzmann commented on #1067
This actually seems to be due to the fact that I was using Logbook < v1.0.0 (forgot to update back to 1.0.0 from testing with #1052)

[2017-03-26 18:32] #1067 closed

[2017-03-26 19:42] blitzmann commented on #1054
Closing this due to lack of data / not able to reproduce. Please reopen if you're still experiencing issues :)

[2017-03-26 19:42] #1054 closed

[2017-03-26 19:55] blitzmann commented on #742
Closing this due to being unable to reproduce. If you're still experiencing this issue, please open a new issue and send me the data requested (saveddata.db, eve.db, and information pertaining to the fit such as character used, modules,  used, etc).

Thanks!

[2017-03-26 19:55] #742 closed

[2017-03-26 19:57] blitzmann commented on #805
trying to clean up issues that aren't really issues, so closing this. Thanks for the discussion everyone :)

[2017-03-26 19:57] #805 closed

[2017-03-26 20:21] blitzmann commented on #686
Found this while going through old issues, didn't take long at all to implement.

https://i.gyazo.com/b2bda98ff63a5f6a7419169f916aa626.mp4

Hope that's what you wanted. :)

[2017-03-27 02:02] blitzmann commented on #961
Took a look at this tonight. I'm not going to worry about the `ID` vs `TableID` stuff, or changing to TitleCase. Way too much work for no benefit other than that's what I'm used to for other projects.

However, the create/modify stuff should be super simple:
[code]

We will have to use a migration script to alter the existing tables to include this ofc.

The `sqlite_autoincrement` might be a bit m

[2017-03-27 03:31] Ebag333 commented on #961
I actually started a branch on this. Auto ID is easy. Date created is easy. Haven't tested onupdate but looks easy enough.

Basically so far I had a migration script started, but hadn't touched the table definitions.

[2017-03-27 05:27] blitzmann commented on #961
Erm, already made a pull request. Will be continuing to test it out the next few days, please give it a whirl as well :D

I haven't start on this bit though, if you're interested in fixing up that branch to only include this bit and make a PR, we can collaborate on getting this in there. How did you go about doing it?

[2017-03-27 11:25] Ebag333 commented on #961
Rename existing table, create new table, migrate data, delete old table. Easy peasy. :)

Aw crap. I think that I purged it when I did my last branch cleanup.

I can recreate it easy enough, the SQLite DB tool creates the migration script for you, just need to convert it to SQLAlchemy/Python.

I would really recommend we standardize the tables to an
`ID | <data> | date_modified | date_created`
form

[2017-03-28 06:55] hraesvelgr opened #1075 "matplotlib failing to import when running from Unicode path"
downloaded https://github.com/pyfa-org/Pyfa/releases/tag/v1.28.1

but graph is still greyed out. tried to change the "gui" file in "library zip", but 7zip refused this with an error.

so no graphs for me?

---

@blitzmann says:

WORKAROUND: This is a known issue for the graphing library that we ship with (`matplotlib` v1.4.3). It's been fixed in a higher version, however we haven't been able to up

[2017-03-28 06:58] Ebag333 commented on #1075
You can either use an earlier version, or wait until the next build. There should be one soon (tm).

What OS are you using?

[2017-03-28 07:03] hraesvelgr commented on #1075
win 7, 64 bit.

[2017-03-28 12:36] nikander100 opened #1076 "Program closed unexppec"
# Submit a bug report bug report or feature request

Here you can inform pyfa developers of potential bugs or suggest features / improvements to the project. Please check
to make sure that the bug hasn't been reported or feature requested before submitting. If you have general questions
about the project and want to reach out to the developers personally, please check out out our [Slack]
(https://

[2017-03-28 12:36] nikander100 opened #1077 "Crash on removing/adding modules quickly (mac)"
# Submit a bug report bug report or feature request

Here you can inform pyfa developers of potential bugs or suggest features / improvements to the project. Please check
to make sure that the bug hasn't been reported or feature requested before submitting. If you have general questions
about the project and want to reach out to the developers personally, please check out out our [Slack]
(https://

[2017-03-28 12:41] #1076 closed

[2017-03-28 13:35] blitzmann commented on #1077
Check to see if HTML Automatic Export is enabled in the preferences.

This is an odd one. Please send me `~/.pyfa/saveddata.db` to sable.blitzmann@gmail.com and let me know when you've sent it. This is the database that contains fit information, and so I'll be able to determine with greater accuracy what is happening.

Additionally, check to see if you have logs in `~/.pyfa`, and send those via em

[2017-03-28 13:44] blitzmann commented on #1075
I'm not sure what this means... `gui` is a directory that contains our GUI definitions. :P

Can you take a screenshot of Help > About as well as the graph menu being disabled? Additionally, can you open the `library.zip/gui/graphFrame.py` and post the contents (feel free to extract `library.zip` to your desktop or something)? I'm grasping at straws here, there really shouldn't be a situation in wh

[2017-03-28 14:23] Ebag333 commented on #1077
I have had this happen before. Of course, trying to replicate it is hard...

[2017-03-28 14:41] Isfirs opened #1078 "Allow RegEx in Market tab and show matching results"
# Feature Request

Allow RegEx in the Market tab to build a custom selection of items.

# Example

Filter `energized (explosive|kinetic) membrane` shows only the kinetic and explosive armor modules.

I think, this explains the feature very well. Allowing general RegEx gives precise module selection when building a fit and searching for specific modules.

[2017-03-28 14:46] Ebag333 commented on #1078
Sounds simple enough. The one issue is that it would likely break the current search method, but we could have a preference to switch between the two...

[2017-03-28 15:09] Isfirs commented on #1078
How about a single checkbox right to the searchbox to toggle regex? That would let both systems co-exists.

[2017-03-28 15:12] Ebag333 commented on #1078
I haven't looked, but there's a fair chance that changing the search method would require a restart of pyfa.

Probably a way around that, but no guarantee until someone started digging into the code.

A checkbox would be ideal, but space is another issue. We don't have a ton of room there.

[2017-03-28 15:30] Isfirs commented on #1078
I can't follow it.

Is Python that limited? How would a switch (or simple `if (checkbox[searchmode] == true) then useRegExSearch()` would require a restart?

Can you further explain it to me?

[2017-03-28 15:31] hraesvelgr commented on #1075
@blitzmann i tried this solution: https://github.com/pyfa-org/Pyfa/issues/1001#issuecomment-280865070

![grafik](https://cloud.githubusercontent.com/assets/9222522/24413653/60bd13aa-13dc-11e7-9c9a-19d593e36d0a.png)

content of the graphframe-data:
# =============================================================================
# Copyright (C) 2010 Diego Duclos
#
# This file is part of pyfa.
#
# pyf

[2017-03-28 15:34] hraesvelgr commented on #1075
logfile ist too big to post (character-limit)

[2017-03-28 15:34] Ebag333 commented on #1078
Because we bind things when the GUI is created (Pyfa launched).

Can probably override it later on, but again, wouldn't know until I dug into it.

Good example is changing which stat panes show. (Recent addition to preferences.)

Feel free to dig into it yourself and submit a PR. Maybe it's a totally easy add. Many times we think something will be difficult and it turns out that it's not.

[2017-03-28 15:36] Ebag333 commented on #1075
Use gist (link up at the top

[2017-03-28 15:37] Isfirs commented on #1078
Good point.

Any IDE preferences? Can I use Eclipse?

[2017-03-28 15:38] Ebag333 commented on #1078
I <3 pyCharm. And the free version is quite good. No idea how well eclipse would work.

[2017-03-28 15:46] hraesvelgr commented on #1075
done.

[2017-03-28 15:59] Isfirs commented on #1078
PyDEV, installable via Eclipse Marketplace.

I will fork and stick my nose into it =)

I will post updates here once I find things out.

[2017-03-28 16:26] Ebag333 commented on #1075
You have to share the link with us. We won't know what it is. :)

[2017-03-28 17:50] hraesvelgr commented on #1075
https://gist.github.com/hraesvelgr/1566c1e4a74d1dd51afc202512b4695c

Lunk already has been shared with all the other data you needed :)
https://github.com/pyfa-org/Pyfa/issues/1075#issuecomment-289808783

[2017-03-28 18:23] blitzmann commented on #1078
This won't require a restart, just like most other preferences don't require a restart. The stats panes are special because of reasons, but only because we haven't figured out yet how to do it without a restart.

As for the feature request... it's very interesting. However, I don't know if there is a straightforward way of doing this. The immediate and obvious solution would be if SQLite has suppo

[2017-03-28 18:25] Ebag333 commented on #1078
We could start caching the DB in memory.

[2017-03-28 18:27] blitzmann commented on #1075
[code]

Here's the error. It's due to having unicode characters in the path (`André`). I don't think we're providing matplotlib with any of our paths, so this may very well be an issue with matplotlib internally... I'll verify tonight and try to work on a fix. :)

[2017-03-28 18:28] blitzmann commented on #1075
@Ebag333 excellent work btw on the logging stuff. Wouldn't have this error without it. Kudos :D

[2017-03-28 18:30] Ebag333 commented on #1075
I'm actually working on the locale tests currently.  They're all sorts of messed up because of the revert.  I _suspect_ that it has to do with the unicode chars, but some stuff in git thinks they exist and some doesn't.  Super frustrating.

Since you haven't submitted a PR on the unicode fix I'll probably tackle that next (unless you have an active branch working on it?)

[2017-03-28 18:33] blitzmann commented on #1075
@hraesvelgr also, as a work around, don't use pyfa from a directory with unicode characters. If you install pyfa with the `.exe`, it should install to Program Files, which should work around the issue and give you support for graphs.

For future reference for researching this issue, quick google results:

http://stackoverflow.com/questions/30095006/python-unicode-decode-error-when-importing-matplo

[2017-03-28 18:37] blitzmann commented on #1075
@Ebag333

Locale tests for pyfa won't really help for this issue if it's an internal `matplotlib`, which I suspect it may be. This is happening during the import of `matplotlib`, which tells me that it's something that are doing. Again, will have more info once I look into it.

[2017-03-28 18:41] blitzmann commented on #1078
I don't know how that helps with querying, other than faster reads. Unless you're talking about querying all items and caching the names so that we can perform regex on the list of names and return the items that the matches associate with... which I feel is convoluted and unnecessarily complicated. :/

[2017-03-28 18:44] blitzmann commented on #1077
Along with not being able to reopen the fit after crashing? Which begs the question: @nikander100 when you say the fits don't reopen, do you mean they don't automatically open after restarting pyfa, or that they just plain don't load even after selecting them from the ship browser?

[2017-03-28 18:44] Ebag333 commented on #1075
Um, no, they wouldn't.

`path = os.sep.join([os.path.dirname(__file__), 'mpl-data'])`

They don't set `__file__` to be unicode, so that's why it breaks.

Quick search doesn't turn up an issue:
https://github.com/matplotlib/matplotlib/issues

[2017-03-28 18:45] Ebag333 commented on #1078
I think you just described how most people feel about regex. :D

[2017-03-28 21:01] blitzmann commented on #1075
python2, which pyfa is written on, has shit support for unicode characters (rather, the applications have shit support if unicode is not kept in mind while developing). `matplotlib` has these same limitations - if their development team doesn't keep in mind unicode paths, then it's easy to run into problem, as seems to be the case here

I strongly advise against changing the actual directory name.

[2017-03-28 21:01] gamingloser commented on #1035
![ice](https://cloud.githubusercontent.com/assets/26329647/24426445/b02bad0e-13d5-11e7-8399-d35b5e702c49.png)
![ore](https://cloud.githubusercontent.com/assets/26329647/24426456/b3f95800-13d5-11e7-87e7-05c08310411f.png)

I believe CCP recently changed the ranges of ore strip miners. The rorqual pilot who was boosting has perfect skills, t2 industrial, t2 mining boost, and mining forman implant. Th

[2017-03-28 21:16] gamingloser commented on #1035
I realized I forgot to plug the medium ice harvester accelerator on the hulk in Pyfa. However, there is still the discrepancy with the range and cycle time:
![exhumer-ice](https://cloud.githubusercontent.com/assets/26329647/24427452/f32f4cf2-13d8-11e7-967a-36179b0129a4.png)

[2017-03-28 21:35] hraesvelgr commented on #1075
Much appreciated!

[2017-03-29 00:21] blitzmann commented on #1075
Can confirm this is a `matplotlib` issue. The issue has been fixed (and I've tested personally that it works) in later versions of matplotlib, v1.5.0+. Unfortunately pyfa ships with v1.4.3.

https://github.com/matplotlib/matplotlib/commit/3ba4f5a48fbcb9507f3aeb2a8dc17cd82672db6c
https://github.com/matplotlib/matplotlib/commit/7c12fa0f938c917faaf5a7b9f9876d2e1b9f34d0

Updating `matplotlib` is on th

[2017-03-29 08:52] nikander100 commented on #1077
@blitzmann both honestly, they don't automaticly reopen and take a long time to open again after a crash has occurred.

[2017-03-29 13:20] blitzmann commented on #1077
They wouldn't automatically reopen if the program crashed. The open fits are saved to settings when pyfa exits normally - if it crashes, it never receives that signal to store the currently open fir for later retrieval. So that explains that.

Taking a while to first load a fit is also a known issue, and most likely is due to the fact that we recently reworked our python imports to be more streaml

[2017-03-29 15:14] Ebag333 commented on #1077
I don't think that the refactoring is the cause here. Having two thousand effects is the big factor.

I agree. Time to burn it with fire.

[2017-03-29 15:51] lunedis opened #1081 "Projecting Linked Guidance Disruptors yields wrong result"
# Submit a bug report bug report or feature request
## Bug Report
### Expected behavior:
Missile range should show 94km * (1-0.381)^2 = 36km

### Actual behavior:
Missile range is 94km * (1-0.309)^2 = 45km

30.9% is the GD strengh without link

### Detailed steps to reproduce:

Apply Proteus Links to Crucifier.

Project Crucifier onto Caracal

### Fits involved in EFT format (Edit > To Clipboard >

[2017-03-29 15:55] blitzmann commented on #1077
I'm not talking about the general lag from effect imports. That still remains of course. I'm talking about when you load the first fit of the day. Before refactoring, it loaded as quickly as any other fit. After the refactoring the first fit to load is noticeably slower, but then it's fine. This is probably because we're no longer importing eos things at the very onset due to the refactor. We've d

[2017-03-29 16:01] Ebag333 commented on #1077
That's never been true for me.

Basically all of Eos except effects is still loaded because we have some wildcard imports left in. Something I've been trying to kill. :)

I think we are getting off topic here though.

[2017-03-29 20:41] hulseinator opened #1082 "Calculations"
# Submit a bug report bug report or feature request

Here you can inform pyfa developers of potential bugs or suggest features / improvements to the project. Please check
to make sure that the bug hasn't been reported or feature requested before submitting. If you have general questions
about the project and want to reach out to the developers personally, please check out out our [Slack]
(https://

[2017-03-29 20:42] Ebag333 commented on #1082
What are you looking at and how do you know you get an align time of that in game?

[2017-03-29 22:38] blitzmann commented on #1082
@hulseinator can you send me a copy of your database to sable.blitzmann@gmail.com? it's found in `%userprofile%\.pyfa\saveddata.db`. This will give me access to your skills so that I can properly identify the issue.

Also please double check any implants your character might have, command boosts that may be applied, etc. Basically make sure that nothing else is applying to your ingame fit that may

[2017-03-30 04:04] BartMassey commented on #1061
Thanks!

Why did you comment out the fitting test in your patch? I can't see anything in there that was related, but I am probably missing something.

[2017-03-30 04:05] Ebag333 commented on #1061
Because he couldn't get that test to work.  Works locally but not on Travis-CI.  vOv

[2017-03-30 04:38] blitzmann commented on #1081
I can confirm the issue, thanks for the detailed information! :)

it indeed does seem that the command ship boost is not affecting the Crucifier when projected (or, more likely, it's affecting the modules *after* it's being applied to the Caracal). This is going to take some time to dig into, will keep my notes here. :)

[2017-03-30 05:28] Ebag333 opened #1084 "AppVeyor - Automated Windows Testing"
Looks like a slick solution for running tests and builds on Windows.

Demo on using it for Python:
https://github.com/ogrisel/python-appveyor-demo

[2017-03-30 05:59] blitzmann commented on #1081
So, as I thought, the command effect is being applied to the module correctly, but only after the module is projected. Relevant code:

https://github.com/pyfa-org/Pyfa/blob/fd745c5f623b71be628b89e98aba682b4b180b41/eos/saveddata/fit.py#L750

That `for item in c:` block runs through the modules and does three things:
* Applies  module effects to the local fit
* Applies modules effects to a remote fi

[2017-03-30 06:14] blitzmann commented on #1084
Looks interesting. Tests are already run on Travis, so this might be useful for builds if we ever start doing actual builds and not the shit we currently do with skels... at the same time, it feels like overkill? If we start doing legit builds, those are easily done at the time of a new release by running setup.py. So what benefits would this service give us?

[2017-03-30 06:22] Ebag333 commented on #1084
Travis only tests on Ubuntu though.  How many times have we ran into the "works fine on Windows, runs like shit on Linux?" :)

And since most of our users are likely Windows, it makes more sense to test there than Travis.

Also, yes, builds.

Assuming we do that and not do actual legitimate builds.

Testing in a Windows environment in an automated fashion (currently only Linux).  Being able to tri

[2017-03-30 06:35] blitzmann commented on #1084
Usually issues like that are on the GUI side of things, which we can't test anyway (to my knowledge, at least without a hell of a lot of effort). There's very little low-mid level issues that affect only one platform. Locales being really the only one that sticks out in my mind. Most of the test that we eventually will have would be, I assume, fitting calculations and service functionality, which

[2017-03-30 10:39] lunedis commented on #1082
Also remember that align time with MWD on and with MWD off is different.

[2017-03-30 11:15] hulseinator commented on #1082
I will recheck by Turing the med off whilst in station and get back with you

Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: Karl Werner <notifications@github.com> Date: 3/30/17  6:39 AM  (GMT-05:00) To: pyfa-org/Pyfa <Pyfa@noreply.github.com> Cc: hulseinator <joehulse@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [pyfa-org/Pyfa] Calculations (#1082)
Al

[2017-03-30 12:39] nikander100 commented on #1077
Have been running with auto html export off, everything has been fine today no crashes at all.

[2017-03-30 13:44] blitzmann commented on #1077
But we stopped doing thing like importing all types whenever we need just one by a service, and other general import improvements. I don't know the direct cause of it, only hunches, as I haven't looked at it and I'm not too concerned about it for now (since it's not a huge lag), hence why I haven't made it an issue. All I know currently is that after the refactor there is noticeable lag when loadi

[2017-03-30 15:17] Ebag333 commented on #1084
And now there's an example where Linux and Windows are behaving differently for a `service`. So it's not just GUI stuff.

See #1086

[2017-03-30 19:01] hulseinator commented on #1082
Thank you all for your advice and I did make the adjustments in Pyfa (turning off the MWD) and it did adjust the align time to reflect more accurately the actual in game align time. I'm satisfied with the margin of error at this point but I'm sure your more interested in providing a more accurate calculation. I have attached screen shots.
![pyfa calculation](https://cloud.githubusercontent.com/ass

[2017-03-30 19:03] hulseinator commented on #1082
Wait....today is my monday correcting PYFA

[2017-03-30 19:05] hulseinator commented on #1082
Okay, I was wrong. Y'all are spot on!  Keep up the great work...pouring myself another cup of coffee.

[2017-03-31 02:17] blitzmann commented on #1082
k... I'll assume this can be closed then :) :P

[2017-03-31 02:17] #1082 closed

[2017-04-01 02:09] blitzmann commented on #1084
If you want to play around with it, that's cool. But I'm not gonna be shelling out $$$ for FOSS.

You noted that the automated builds keep up with master. That is pretty neat, but Travis does it too, and is one of the reasons why I'm still considering keeping our old build method since it's currently done on Linux (for clarification, I still have not yet taken the time to evaluate pyinstaller, so

[2017-04-01 02:32] Ebag333 commented on #1084
It's free sooooooo.....

Bingo. If we can get automated builds working, the only one missing is OSx. ;)

[2017-04-01 13:15] FeldTheorie opened #1089 "1.28.1 not properly announcing missing requests module"
### Expected behavior:
User is notified about missing requests module, including required version information.

### Actual behaviour:
When trying to start pyfa.py it fails silently without a message being given. However pyfa.py -d reveals:

Traceback (most recent call last):
  File "./pyfa.py", line 290, in <module>
    from gui.mainFrame import MainFrame
  File "/home/martin/Downloads/pyfa/gui/ma

[2017-04-01 15:46] Ebag333 commented on #1089
What OS are you running?

We have some requirements files now, for folks running from source.

[2017-04-01 17:07] FeldTheorie commented on #1089
Damn, I thought I had included this, sry. OS is KDE neon (running on an Ubuntu LTS 16.04 base).

My issue is that all other dependencies let pyfa fail noisily but this one didn't throw any errors.

[2017-04-01 17:53] Ebag333 commented on #1089
To be honest, we only noisily catch a few. There are a dozen or so we don't catch.  The ones we catch are the ones that are absolutely critical to running Pyfa, everything else we just let quietly fail.

I'm a bit torn about how to handle this.  It'd be nice to warn users that they're missing reqs when running from source, but on the other hand lots of people might never open graphs, or CREST, and

[2017-04-02 01:54] BartMassey opened #1090 "Implant effect on grid usage not always correctly updated"
## Bug Report

When changing fit-specific power grid implant using the "Variations" menu, the powergrid displayed for the fit does not always update.

### Expected behavior:

Whenever a fit-specific powergrid implant is added, removed or changed, the powergrid usage displayed by Pyfa updates to match the new grid.

### Actual behavior:

Under some circumstances, increasing or reducing the powergri

[2017-04-02 02:03] Ebag333 commented on #1090
Fantastic bug report. Sounds like variations aren't always triggering a refresh.

Might be a timing issue, the variations for implants are slow I've noticed before.

[2017-04-02 02:54] blitzmann commented on #1089
Requests is a required package at the moment, hence the error. It's listed as part of the requirements for pyfa.

The only thing that uses it is crest stuff for now (simply because pycrest came with the dependency), but that may change down the road to include more things. It's a handy package to have, and easy to install. I'm inclined to have a hard requirement for it. Otherwise we could do the s

[2017-04-02 03:27] blitzmann commented on #1084
Right, forgot it's free for FOSS projects.

Again, if it's something you're interested in, have a look.

Travis supposedly does OS X as well, though I haven't looked further into. I don't know if it would support what we want to since pyfa is a GUI application, but if we can build from the terminal and can get the necessary dependencies installed correctly, shouldn't be a problem (theoretically)

[2017-04-02 03:28] #1077 closed

[2017-04-02 03:53] blitzmann opened #1091 "Database repair error"
[code]

Using an older database to test some migrations, ran into this. Looking into it now

edit: this affects `master`.

[2017-04-02 06:03] blitzmann commented on #1090
Thanks for the detailed bug report as always @BartMassey. This was a pretty simple fix - we weren't recalculating the fit correctly, seems to have been an oversight. Should be fixed with the next release. :)

[2017-04-02 06:42] BartMassey opened #1096 "Capital modules can be fit on subcapital ships"
## Bug Report

Pyfa allows fitting a capital module to a subcapital ship. In-game (at least on Singularity) this is not allowed.

### Expected behavior:

Pyfa refuses to allow fitting a Capital F-S9 Regolith Compact Shield Extender to a Dominix Navy Issue.

### Actual behavior:

Pyfa allows fitting a Capital F-S9 Regolith Compact Shield Extender to a Dominix Navy Issue.

### Detailed steps to repr

[2017-04-02 07:02] blitzmann commented on #1096
These items don't have any attributes to restrict their use to certain ships. I think I remember this coming up at some point, and it was thought that this is actually something CCP hardcodes into the game, and isn't available via item attributes. Basically if it's a capital-sized module (defined as having a volume >4k), then they throw an error in the client stating that you can't do that.

I thi

[2017-04-02 07:21] Ebag333 commented on #1089
Well, the way I see it is this.

1) If we move forward with the current setup in #1048 , then the user is going to get a unhandled exception message box and Pyfa will quit.  Not really the optimal scenario, but see #5.
2) We can wrap our imports in try/excepts. Ugh.  That causes us to have to add a ton of code and makes it messier.  Plus handling the exception (matplotlib is a good example of why

[2017-04-02 07:54] Ebag333 commented on #1089
Figured out a way to do this.

It's not _perfect_.  It can flag modules as possibly being missing when they aren't (`PyYAML` and `python-dateutil` are two, because we don't import them by those names, but we have to have those names in our requirements.txt file....ugh. Keep the same name people.

We can either just explicitly skip those two, or do some other special handling for them.

It's easy,

[2017-04-02 15:32] BartMassey commented on #1096
![capital-shield-on-subcap](https://cloud.githubusercontent.com/assets/117151/24588520/c50c8eda-177e-11e7-925a-50d3911136f6.png)

[2017-04-02 16:31] blitzmann commented on #1096
hahaha :)

Well, based on current assumptions (capital module is defined as having a volume >= 4000), we can easily restrict capital modules from being fitted onto subcap hull:

https://github.com/blitzmann/Pyfa/commit/3274130c78676a3bf1b533ebde8a95072b89a131

This prevents pyfa from even adding the module to the fit. To be able to add it, but cause some sort of warning, would be a lot more work w

[2017-04-02 16:35] blitzmann commented on #1096
And with that, I get my answer. :D

[2017-04-02 17:09] Dallidiem opened #1098 "Ship fit "Diff" function - Automated compare of different fits for the same ship."
This is a feature request for an automated comparison of two fits for the same ship that highlight the differences between then - pointing out common modules, modules in "A" and not in "B" and those in "B" and not in "A".  Maybe even one that spits out a multibuy list of what's needed to turn "A" into "B"

Thanks!

Here, for reference was a short slack discussion:

o/ What's the best place to drop

[2017-04-02 17:12] Ebag333 commented on #1098
I have a branch we can do this in!

@blitzmann will hate the solution.... 😁

[2017-04-02 17:51] blitzmann commented on #1098
It would be nice if you would elaborate and discuss your design and functional intentions instead of doing a bunch of work in secret that may be declined. Just saying.

As to the topic at hand, it's true, similar things have been requested before (not really comparing modules, but comparing stats). We haven't really had a good way to do comparisons due to our tabbed interface. There have been thou

[2017-04-02 18:00] Ebag333 commented on #1098
Bulk of the base work is already done and hardly in secret, I've been spamming the feed on it the last two days. ;)

[2017-04-02 20:21] Dallidiem commented on #1098
I wasn't looking for stat comparisons, that seems simple enough by having two tabs open in the tool already and clicking back and forth.  My desire is to easily see which modules are different from one fitting to another - maybe even somehow flagging differences in variants being less of a change than differences in module.   As bonus, it would be great to spit out a report of what modules are nee

[2017-04-03 19:54] Ebag333 commented on #1084
Neat feature.  Multiple versions of Python!
https://puu.sh/v8dY3/8b0fef5fa0.png

[2017-04-03 21:25] Ebag333 commented on #1066
@blitmann this looks like a good solution:
backhub.co

Doesn't seem to be a charge for the service.

[2017-04-06 01:03] blitzmann opened #1117 "Option to ignore fitting restrictions"
see #1097

We should have a property on the `Fit` object (optionally persisted to the database) that allows that fit to ignore all fitting restrictions for modules. Should be really easy to do this in `Module.fits()`:

[code]

Which should allow any module to be fit to the ship.

I'm thinking the toggle for this can go somewhere in the menu (Edit perhaps).

This feature should allow folks to creat

[2017-04-07 00:18] blitzmann commented on #1084
closing as this was merged in yesterday

[2017-04-07 00:18] #1084 closed

[2017-04-10 02:58] blitzmann commented on #1066
I've got it going on pyfa-org now. Dunno if I can share links for backups or anything, will see once it completes

[2017-04-10 02:58] #1066 closed

[2017-04-10 10:42] Hiwashi opened #1119 "Delete All for Damage Pattern and Target Resists"
There's an Import/Export for Damage Patterns and Target Resists but no way to delete all of them at once, making it very time consuming to remove everything if you have several patterns.

[2017-04-10 19:14] Ebag333 commented on #1119
@blitzmann can pull this PR: https://github.com/Pyfa-fit/Pyfa/pull/22

[2017-04-11 01:14] blitzmann commented on #1028
Thanks to ebag for submitting a fix for this, as well as fixing a long-standing gripe with items not carrying their own price object. see #1115 :D

This will be released with v1.29.0

[2017-04-11 01:18] blitzmann commented on #678
Fixed with #1115

[2017-04-11 02:03] blitzmann commented on #1119
Thanks @Ebag333

Fixed it up, tested, included. @Hiwashi, should be available in the 1.29 release. :)

[2017-04-11 02:06] blitzmann commented on #1020
@MattSeibert can you please upload the file somewhere again, i want to take another look at this soon, but I can't find the file I downloaded previously. Thanks!

[2017-04-11 02:08] Ebag333 opened #1121 "sqlAlchemy DB Restraints largely disabled"
So in playing around with the session issues, I've found that the DB restraints are largely ignored/disabled.

Case in point, when we swap in a dummy module, there's a hard restraint that `fitID` can't be null.  But if you query the dummy module that was just created, `dummy.fitID` is....null. 😕

Stuff like this is easily resolved by adding a single line:
[code]

(Specifically: `dummy.fitID = mod.

[2017-04-11 02:10] Ebag333 commented on #1121
This explains where the DB corruption is coming from at least.

[2017-04-11 02:32] blitzmann commented on #1121
So, took  a look at this as it piqued my curiosity. You're both right and wrong. Right in that we don't set `fitID` when building an empty module, and we get all the way to `commit()` without setting it. Certainly confusing.

However, we don't need to manually set `fitID` because the module is assigned that value by virtue of it being part of a fit's module collection. When that module object is c

[2017-04-11 02:47] #1121 closed

[2017-04-11 02:47] Ebag333 commented on #1121
Just thought I'd document this. No need to keep open. :)

[2017-04-11 04:15] blitzmann commented on #1121
I left it open for the time being in case you found some wonky stuff happening and wanted to respond with anymore details of said wonky stuff. If you do, please reopen and we can discuss. :D

[2017-04-11 04:27] Ebag333 commented on #1121
Oh there's lots of wonky stuff. Not _directly_ related to this, but still stuff that we shouldn't do.

[code]

`check_same_thread` is an undocumented switch.  🤔

[code]

`autoflush` and `expire_on_commit` both default to on, there's warnings that switching them off is something that _probably_ shouldn't be done.

Unfortunately it'd take a massive refactor of how we handle the database to fix it.

[2017-04-11 04:31] blitzmann commented on #598
We haven't had a report of crashing since last year - whatever it was seems to have cleared up either with Windows updates or with a subsequent release of pyfa. I am still not sure what caused the requirement for admin rights, and would love to know if anyone is still experiencing that issue or if you can now run without Admin.

Since there hasn't been any activity in this thread for some time now

[2017-04-11 04:31] #598 closed

[2017-04-11 04:35] blitzmann commented on #520
Closing as I can't reproduce :(((

If this is still a thing, please reopen and let me know of any updates you may have. Thanks!

[2017-04-11 04:35] #520 closed

[2017-04-11 12:04] MattSeibert commented on #1020
Files should still be accessible as below:

-----

Good morning!

http://www.wildfire-tech.com/users/matt/EVE/home_pyfa.zip

Is where I dropped the files requested. This does bring up a question:

~/.pyfa/ exists and has all of the data from my 1.14 version. Do I need to DELETE this path when I upgrade? Is there, perhaps, a conflict that the 1.27 version is trying to write to / use the 1.14 DB fil

[2017-04-12 03:11] blitzmann opened #1122 "Market Search Delay"
This was requested by RedHand on Tweetfleet slack. Apparently, if you type very fast, there can be a lag due to the market search running with every character entered. This feature would simply create a timer that will run the search after x ms (configurable).

[2017-04-12 03:28] blitzmann commented on #1020
@MattSeibert negative. At least for me, those links redirect to http://www.wildfire-tech.com/ ??

[2017-04-14 10:16] NamelessNewbie opened #1125 "Command Bursts which increase Remote Repair Speed are not applied when projecting the boosted fit onto another one."
## Bug Report

When projecting a boosted Logi fit onto another ship, the Remote Rep boosts don't get applied. They show up on the effect column on the logi fit, but the projected reps don't change.

### Expected behavior:

Applying the Rapid Repair Boost to a Logi should increase the EHP/s on a ship that has the boosted Logi projected to it.

### Actual behavior:

The projected EHP/s stays the sam

[2017-04-14 10:35] zhudhjen opened #1126 "Related Skills not Included in "Change Module Skills" of Shield Boosters"
“Shield Compensation” is not currently included in "Change Module Skills" context menu of shield boosters in Pyfa. The skill reduces capacitor need of shield boosters, and it is included in "Affecting Skills" in EFT.

Screenshot from EFT:
![image](https://cloud.githubusercontent.com/assets/3236031/25041160/b74c8310-2140-11e7-94b5-0120a5fd0652.png)

Screenshot from Pyfa:
![image](https://cloud.gith

[2017-04-14 13:22] blitzmann commented on #1125
Hi there!

I can't test or try to reproduce right now, but this sounds like a duplicate of #1081 which was fixed. I'll confirm this tonight and report back. Thanks for the report!

[2017-04-14 13:53] blitzmann commented on #1126
Thanks for the report, I'll take a look at this soon. The affecting skills code is very much hacked together, so I'm not surprised this is a thing lol

[2017-04-15 03:32] blitzmann commented on #1125
Can confirm, seems to be a duplicate of #1081. A release will be out in the next couple of weeks with the fix.

[2017-04-15 03:32] #1125 closed

[2017-04-16 18:44] blitzmann commented on #162
This has been completed during the last couple months with the addition of Logbook and an error dialog that pops with any unhandled exception. Closing issue.

[2017-04-16 18:44] #162 closed

[2017-04-17 01:59] dado023 opened #1128 "Fighters maximum velocity not correct"
This is what Pyfa shows:  ![pyfa_2017-04-17_03-58-34](https://cloud.githubusercontent.com/assets/27656063/25076618/baf96076-2322-11e7-93d5-4912703b005a.png)

and this is what in game shows:
![exefile_2017-04-17_04-02-22](https://cloud.githubusercontent.com/assets/27656063/25076622/c53eb37e-2322-11e7-9191-e8b8013b50e7.png)

I hope this can be fixed.

Cheers

[2017-04-17 02:05] Ebag333 commented on #1128
Which fighter is this?

What's the fit of the carrier?

[2017-04-17 02:06] dado023 commented on #1128
Nidhoggur + 2xDrone Navigation Computer II + 3xFighter Support Unit II

[2017-04-17 02:12] Ebag333 commented on #1128
And which fighter?

Dragonfly II is closest in speed, but not the one you have selected.

[2017-04-17 02:29] dado023 commented on #1128
@Ebag333 its Templar I

[2017-04-17 02:30] blitzmann commented on #1128
@dado023 What are the skill levels involved? I believe Minmatar Carrier, Drone Navigation, and Light Fighters are the ones that affect the speed for this particular setup.

Also, in the future, it would be helpful if you could post the EFT fitting of it. Just makes it easier.

With an All 5 character I'm showing 2824, which is almost equal to the value you state you get in the client.

![image](ht

[2017-04-17 02:31] dado023 commented on #1128
@blitzmann yes, i get the same results in Pyfa, but in game speeds are higher.

[2017-04-17 02:34] blitzmann commented on #1128
But your pyfa screen shows 2651... >_>

As for the small discrepancy in 2824 vs 2888, will take a look. I would would recommend removing all affecting modules from the fit in game and see if, from just your skills, you get a value that matches pyfa. From there, we can try to pinpoint where the calc is going off by slowly adding on additional modules.

[2017-04-17 02:35] blitzmann commented on #1128
Also (and off topic), you have very pretty screenshots. Which program is that?

[2017-04-17 02:36] dado023 commented on #1128
@blitzmann i am using [https://getsharex.com/](https://getsharex.com/)

[2017-04-17 02:40] blitzmann commented on #1128
@dado023 ah, thanks!

Anyway, yeah, if you can do some research on your end by removing modules from in game and pyfa and seeing where it goes wrong, that would be great. If not, I'll log into SISI tomorrow to poke around at it and see what I can find. :)

[2017-04-17 02:44] dado023 commented on #1128
k, i just striped in game 3xFighter Support Unit II and i get the same speed in pyfa as well without those modules.....so, i am assuming there is something wrong with calculation related to _Fighter Support Unit II_ modules

[2017-04-17 02:51] blitzmann commented on #1128
Thanks, that helps narrow it down. :)

Will let you know when there is a fix for it.

[2017-04-17 02:56] dado023 commented on #1128
k, i just did manual calculation following these penalties:

1st mod: 100.0% effectiveness
2nd mod: 86.9%
3rd mod: 57.1%
4th mod: 28.3%
5th mod: 10.6%

**I get exact same result in my calculator as it is in Pyfa....huh.**
 It looks like game does wrong calculation, or modules are regarded as different type...wird

[2017-04-17 03:04] blitzmann commented on #1128
Yeah, not sure... I turned stacking penalties off just to see, and pyfa shows 3177 now, which is totally not correct.

Can you post the ingame and pyfa values for 1, 2, and 3 FSUs? I can then take that data to some ccp devs and try to figure out what's going on.

[2017-04-17 03:08] blitzmann commented on #1128
Also, I'm assuming that after you remove the FSUs you're also getting 2668 for the speed of the Templar I's?

[2017-04-17 03:11] dado023 commented on #1128
@blitzmann with all FSUs removed, i get 2504
![image](https://cloud.githubusercontent.com/assets/27656063/25077658/4260570a-232c-11e7-8761-ffb357e535a5.png)

[2017-04-17 03:12] dado023 commented on #1128
@blitzmann oh, please dont, then CCP will fix/nerf it, so fighters will be slow :(

[2017-04-17 03:16] dado023 commented on #1128
in any case, those 3 FSUs are calculated as 3 modules, not as including 2xDNC for total of 5 velocity modules, .....

Following FSU calculation penalties:

1st mod: 100.0% effectiveness
2nd mod: 86.9%
3rd mod: 57.1%

and

Following DNC calculation penalties:
1st mod: 100.0% effectiveness
2nd mod: 86.9%

[2017-04-17 03:17] blitzmann commented on #1128
This is not what I get in pyfa...

Can you list your skill levels for these:

Minmatar Carrier
Drone Navigation
Light Fighters

[2017-04-17 03:17] dado023 commented on #1128
Minmatar Carrier 4
Drone Navigation 4
Light Fighters 4

[2017-04-17 03:18] blitzmann commented on #1128
ah, that could explain some things. Give me a sec to plug those in

[2017-04-17 03:20] blitzmann commented on #1128
BTW, DNC required level 5 Drone Navigation... so how are you able to fit this in game?

[2017-04-17 03:21] dado023 commented on #1128
oh sry, indeed, i have Drone Navigation 5

[2017-04-17 03:28] blitzmann commented on #1128
Okay... so to summarize

[code]

Having the the FSUs offline gets me 2504, same as you. So we're on the same page with that. :)

Can you get me the numbers from both pyfa and in game having 1 FSU online, then 2 FSU, then 3 FSU? I want to see what sort of discrepancy there is with successive modules being onlined.

Thanks for taking the time to troubleshoot this with me :)

[2017-04-17 03:29] dado023 commented on #1128
as i mentioned here https://github.com/pyfa-org/Pyfa/issues/1128#issuecomment-294397157

For FSUs just follow the penalty factors.

[2017-04-17 03:42] blitzmann commented on #1128
Ah, thanks. Sorry, misinterpreted that comment.

However, I think I've got it:

![image](https://cloud.githubusercontent.com/assets/3904767/25078022/23f5afec-22fd-11e7-8acc-4df597ea3b55.png)

:D

I still need to play around with it to ensure this is the proper fix, but I know what's going on now. Thanks again for looking into this with me. I may have a few more questions as I progress

[2017-04-17 03:46] dado023 commented on #1128
Oh well, english isn't my native language...i am trying my best :) .......looking at your screenshot, new equation seems to output correct velocity.

[2017-04-17 03:57] blitzmann commented on #1128
No problem at all man, thanks for the bug report :)

[2017-04-18 13:00] MrG01 opened #1131 "Amarr/Gallente Alpha Skills missing"
## Bug Report
Amarr and Gallente alpha presets, lack their respective skills marked.
This is not the case for Caldari and Minmatar.
As can be seen from the images below.

### Expected behavior:
![minmatar alpha](https://cloud.githubusercontent.com/assets/13038237/25131813/74b4fb04-2447-11e7-8144-adf41b66baae.PNG)

### Actual behavior:
![amarr alpha](https://cloud.githubusercontent.com/assets/13038

[2017-04-18 13:03] blitzmann commented on #1131
Hmm, will have to take a look. That data is collected directly from the game files, so it's odd that it doesn't work. Thanks for the info :)

[2017-04-19 00:06] blitzmann commented on #1131
Question: does the character already have those skills trained?

The way alpha clones work in pyfa is that it sets a level cap for the already-trained character skills, based on which alpha character you choose. It doesn't apply the alpha skills to the character.

So, if I have Amarr Cruiser V, and I select Amarr alpha clone, I'll have an effective Amarr Cruiser IV. But, if I have Amarr Cruiser II

[2017-04-19 04:06] blitzmann commented on #1117
This has been completed. User has option to ignore all fitting restrictions sans slot restrictions per fit, persisted to the database. Built on top of sisi branch due to changes to the database (both branches require migrations, and I didn't want to juggle two sets of the same migration number, so I just stuck this one onto the sisi branch :D). Currently there isn't any indication of a fit being a

[2017-04-19 11:18] SubjectXXX opened #1132 "Drone stack repair amount not calculated correctly"
## Bug Report
Value for repair amount on stack of Heavy armor maintenance bot II is not multiplied correctly.

![drones](https://cloud.githubusercontent.com/assets/2082595/25177489/90d04cc4-2502-11e7-96b7-c615762208de.png)

### Fits involved in EFT format (Edit > To Clipboard > EFT):
[Apostle, Apostle]

Centus X-Type Armor Explosive Hardener
Capital Armor Repairer I
Capital Ancillary Armor Repaire

[2017-04-19 12:35] SubjectXXX opened #1133 "Drone repair/boost amount is not added to Remote repair section"
![rr](https://cloud.githubusercontent.com/assets/2082595/25180176/4e465320-250d-11e7-9714-3e5f0c871f97.png)

## Bug Report
Drone repair/boost amount is not added to Remote repair section values

### Fits involved in EFT format (Edit > To Clipboard > EFT):
[Apostle, Chloe Silverwind's Apostle]

Centus X-Type Armor Explosive Hardener
Capital Armor Repairer I
Capital Ancillary Armor Repairer, Nanite

[2017-04-19 22:34] blitzmann commented on #1131
@MrG01 Can you verify the above? If you're character has those skills and the alpha clone is still showing not applied, then that could be an annoying issue. Let me know  :)

[2017-04-20 01:06] blitzmann commented on #1132
Thanks for the report. I think it's always been assumed to show the stats for a single drone, but I agree having them grouped is better. I've fixed this, along with added the singular value tot he tooltip for that column :)

[2017-04-20 13:02] MrG01 commented on #1131
Hi @blitzmann ,

Sorry for the delay.

So after some testing, i can confirm that the system does work as you have explained above.
Whereby, it simply limits the skills to those of an alpha, but does not imprint those skills on a new blank character.

[2017-04-20 13:25] blitzmann commented on #1131
@MrG01 No worries! Thanks for the clarification. I can see why a user would want to fit for a generic alpha character. Right now, it's strictly for "oh shit my sub lapsed, what can I fly" instead of mocking up fits for unsubbed newbies. In the meantime, to emulate the functionality you're looking for, copy the All 5 Character and apply the Alpha Clone to that. That should tie you over until a more

[2017-04-20 15:06] MrG01 commented on #1131
Upon typing my reply, i was thinking about that very same workaround, whereby you just copy the ALL 5 char and then limit it using presets.

Thanks for responses.

[2017-04-21 00:07] dmsft opened #1135 "Ancillary Remote Repairer shows incorrect HP/s when Nanite is loaded"
Pick any ship (e.g. Myrmidon) and fit an ancillary remote repairer into the high slot (small or medium). Without nanite paste loaded the "remote reps" section shows correct HP/s value. The moment nanite is loaded this amount is reduced by approximately factor of 3, instead of being increased.

Tested on Pyfa 1.28.1 Stable - YC119.3. 1.0

[2017-04-21 01:14] blitzmann commented on #1135
Excellent find, and thanks for the fix @Ebag333. :)

Will get this merged in tonight

[2017-04-25 17:09] Dominus787 opened #1137 "Capital Industrial Ship skill not being applied to Rorqual"
# Capital Industrial Ship skill not being applied to Rorqual

The Capital Industrial Ship skill bonuses appear to not be applying to the Rorqual for command bursts. For instance, it appears that the skill bonus "5% bonus to Mining Foreman Burst effect strength and duration" is not being affected by the Capital Industrial Ship skill.

---

## Skill not applying to Rorqual

### Expected behavior: Ch

[2017-04-26 13:24] blitzmann commented on #1137
Hi there! Thanks for the report. I believe that has already been fixed in dev (possibly master), see #892

But I will double check tonight when I get home.

In the meantime you can try this build and let me know if it works for you. This is auto-generated on the master branch, which contains releases and any bugfixes in between: https://ci.appveyor.com/api/buildjobs/6ipmt7197qyyy8bm/artifacts/pyfa

[2017-04-26 13:26] blitzmann commented on #1137
Ah, just realized that fix was actually included in the 1.27.* releases. So maybe this isn't fixed. Will check tonight :)

[2017-04-27 00:29] blitzmann commented on #1137
Yep, looks like it was applying to the wrong attribute (one that doesn't even exist lol). This has now been fixed. You can get an updated build here if you're interested in utilizing the fix / testing it out :)

https://ci.appveyor.com/api/buildjobs/gvtjjnrbmit3mssu/artifacts/pyfa.zip

[2017-04-27 14:29] NamelessNewbie opened #1139 "The Electronic Hardening Charge used in Information Command Bursts does not affect projected tracking disruption."
# Submit a bug report bug report or feature request
---

## Bug Report

Projecting e.g. a Curse with a Tracking Disruptor fitted onto a turret based ship decreases the tracking and/or range of the turrets. The Electronic Hardening Charge of Information Command Bursts is supposed to lower the effect of Tracking (and Guidance) Disruptors. However, this is not the case.

### Expected behavior:

Addin

[2017-04-27 14:37] blitzmann commented on #1139
Thanks for the report, will definitely look into this when I get home tonight.

Without having the data at hand at the moment, this sounds like the EWAR resistance stuff that was never implemented. I have a branch that has it working halfway from when CCP started using it a few months back, but never got around to finishing it. If that is the case, I'll take a look at what's involved to finish it

[2017-04-27 22:50] TheNathanBlack commented on #813
Just getting mass on the panel would be a huge help for us wormholers...

[2017-04-30 05:08] blitzmann commented on #1139
I took a look at this a couple days ago. Indeed, the ewar resist code is included in the codebase - I was thinking about the remote reps impedance stuff that is yet to be implemented. From what I can tell, the calculations are usually applied correctly, just not in this particular case due to the following:

Most ewar modules have a `remoteResistanceID` attribute in order to identify which resist

[2017-04-30 09:54] lord-carlos opened #1140 "Pyfa freezes when fitting module"
## Bug Report

When I try to fit a module, or open up an old fitting the UI just freezes. No error in the terminal.
Fitting a drone works.
I tried with a clean DB and ~.pyfa and redownloaded the git source.

Might it be because of an older Logbook version?
Logbook version >= 1.0.0 is recommended. You may have some performance issues by continuing to use an earlier version.

### Actual behavior:
Py

[2017-04-30 22:45] blitzmann commented on #1140
Probably. The issue with previous logbook versions is that it gobbled memory. I'm plan on making logbook 1.0 a minimum requirement instead of just a suggestion. Please upgrade logbook and let me know if the issue still persists. :)

[2017-05-02 13:43] blitzmann commented on #1140
@lord-carlos any luck?

[2017-05-02 14:32] lord-carlos commented on #1140
@blitzmann
I installed python-logbook (0.12.3-1) from debian testing repo. https://packages.debian.org/stretch/python-logbook

I still get the warning, but it seems to work. But I only have time for a super quick test right now. Will test more later.

[2017-05-02 14:41] blitzmann commented on #1140
@lord-carlos thanks for the info. I know v0.9.1 has issues with memory, and I know v1.0 is stable. I'll try to test out tonight which is the lowest stable version that we can use and make that the requirement (there's a few versions between 0.9.1 and 1.0, such as the one you have, 0.12.3). Let me know how your extended tests go :)

[2017-05-03 01:02] blitzmann commented on #1139
Thanks to @ccplarrikin for clearing up whats going on. So, apparently, tracking disrupter doesn't have the resistance attribute because it's somewhat of a deprecated thing. The resistance ID is now stored on the effect itself instead of as an attribute on the item. After a few tweaks I got it working, so it should be available with the upcoming stable release :)

Thanks for the bug report :D

[2017-05-03 01:49] blitzmann commented on #1139
And after running a quick query, it seems that CCP is using two different versions of the remote resist stuff - one that works off the attribute of an item, and one that works on the effect. I assume they simply haven't moved them all over yet to the effect way. In the meantime, we'll have to support both situations. fun. >.<

[2017-05-04 00:55] blitzmann commented on #1140
kk, double checked some versions, and 0.10.0 seems to be the minimum that works well, so I've set that as a hard requirement. @lord-carlos gonna close this issue - if you need to reopen, feel free to do so. :)

[2017-05-04 00:55] #1140 closed

[2017-05-06 04:29] aaronmallen opened #1141 "[Feature Request] Fit Tagging"
It would be amazing to see a fit tagging feature in pyfa similar to the one available on [Osmium](https://o.smium.org) so that if I create a fit or two and tag it "newbro" and later search "newbro" in my fits window it would show up in that search.

[2017-05-06 16:10] blitzmann commented on #1141
Yep, this is an often requested feature (see #18). I do have plans to make this one of the next pushes of development after I release the next stable release.

I did some work on this in the past and got it mostly working, the problem was that we didn't really have a good way of displaying them. But now that we have the Notes section, I think we can actually utilize it as a "Meta" section and stor

[2017-05-06 19:39] aaronmallen commented on #1141
Firstly I am sorry, I did a search and only found an issue related to module tagging... I guess my query wasn't thorough enough :(

IMO the way I kinda see this working is to have a section on the right menu under the fit name. In the case where there are more tags than space display as many as you can and then display an ellipse.

More importantly you could opt to not display them at all... The i

[2017-05-06 19:48] aaronmallen commented on #1141
Bonus points if typing a `#word` in the name automatically converts into a tag.

[2017-05-06 19:53] blitzmann commented on #1141
No worries, that other issue hasn't been updated in years, so it's not too much use. I should close that one and simply stick with this one

That's an interesting idea :)

I'll take a look to see where it's at or if I even have that branch anymore and report back when I have something you can look at and test. Like I said though, it won't be with the next release (1.29), but hopefully the release

[2017-05-06 20:53] aaronmallen commented on #1141
Awesome I look forward to trying it out!

[2017-05-10 01:42] #983 closed

[2017-05-10 03:00] #987 closed

[2017-05-10 03:34] #1061 closed

[2017-05-10 03:35] #678 closed

[2017-05-10 03:36] #1117 closed

[2017-05-10 03:36] #1081 closed

[2017-05-10 03:36] #1091 closed

[2017-05-10 03:37] blitzmann commented on #1139
@NamelessNewbie should be fixed in 1.29.0, let me know if you have any other issues with this. :)

[2017-05-10 03:37] #1139 closed

[2017-05-10 03:37] blitzmann commented on #809
Done with v1.29.0

[2017-05-10 03:37] #809 closed

[2017-05-10 03:37] #1096 closed

[2017-05-10 03:38] #1028 closed

[2017-05-10 03:38] #1090 closed

[2017-05-10 03:39] #1128 closed

[2017-05-10 03:39] #1132 closed

[2017-05-10 03:39] #1133 closed

[2017-05-10 03:40] blitzmann commented on #1135
@dmsft Out with v1.29.0 :)

[2017-05-10 03:40] #1135 closed

[2017-05-10 03:40] #1137 closed

[2017-05-10 03:41] blitzmann commented on #692
@Robbilie I made a change in v1.29.0 that may fix this (i wasn't able to reproduce, but then again I didn't have Gnome 3). Can you test it out and let me know? I'll close this issue in the meantime :)

[2017-05-10 03:42] #686 closed

[2017-05-10 03:43] #1069 closed

[2017-05-10 03:44] #1122 closed

[2017-05-10 03:44] blitzmann commented on #1119
@Hiwashi out now with v1.29 :)

[2017-05-10 03:44] #1119 closed

[2017-05-10 03:45] #1011 closed

[2017-05-10 03:45] #235 closed

[2017-05-10 03:47] #1089 closed

[2017-05-10 03:47] blitzmann commented on #1089
Done with 1.29 :)

[2017-05-10 04:41] blitzmann commented on #1020
@MattSeibert I was able to reproduce this issue on my OS X VM while testing another feature. I'm not sure how long this has been broken, and I don't yet know why it fails. There is now an error message that is displayed thanks to work done with #1099 saying something along the lones of encoding error. However, running pyfa from source works fine, as well as running it via terminal. It only breaks

[2017-05-10 05:15] blitzmann commented on #719
Looking through older issues here, want to address this one.

@muaddib78 So, there's two requests here: Flag an item that you don't have skills for, and also give suggestions about what you should do in order to get that item working.

I immediately think of this comic: https://xkcd.com/1425/

the first one is easy, and something pyfa already does. If you don't have the skills for something, the s

[2017-05-10 05:18] blitzmann opened #1144 "Cap Battery causes cap warfare resistance on current ship"
Reported by @kibitt_kallinikov on tweetfleet Slack. Fitting a cap battery causes the local NOS to have decreased effectiveness, which is not intended (AFAIK).

[2017-05-10 08:13] peldar opened #1145 "Error message on startup"
### Expected behavior:
No error messages

### Actual behavior:
Installed latest release, selected a fit, got this "pyfa error" popup window with this text:

[code]

### Detailed steps to reproduce:
See above

### Fits involved in EFT format (Edit > To Clipboard > EFT):
[Incursus, FatBelwas's Incursus copy]

Adaptive Nano Plating II
IFFA Compact Damage Control
Magnetic Field Stabilizer II
Small Anc

[2017-05-10 08:19] treky928 opened #1146 "Error when adding warp stab"
# Submit a bug report bug report or feature request

Here you can inform pyfa developers of potential bugs or suggest features / improvements to the project. Please check
to make sure that the bug hasn't been reported or feature requested before submitting. If you have general questions
about the project and want to reach out to the developers personally, please check out out our [Slack]
(https://

[2017-05-10 08:29] peldar opened #1147 "Error window on fit delete"
Got pyfa error popup window with following text after deleting a fit.

OS version: 	Windows-8-6.2.9200
Python: 	2.7.10
wxPython: 	3.0.2.0
SQLAlchemy: 	1.0.5
Logbook: 	1.0.0
pyfa version: 1.29.0 Stable - YC119.5 1.0
pyfa root: C:\Program Files (x86)\pyfa
save path: C:\Users\olaf_\.pyfa
fs encoding: mbcs

EXCEPTION: 'NoneType' object has no attribute 'projectedFits'

  File "C:\Program Files (x86)\p

[2017-05-10 11:02] Robbilie commented on #692
nope not fixed

[2017-05-10 11:05] AlhiraK opened #1148 "Error Window when trying to open a fitting"
[code]

---

## Bug Report
Error window opened on first attempt to load a fitting. Works perfectly fine on second attempt.

### Expected behavior:
Opens fitting

### Actual behavior:
Doesn´t open fitting but error message.

### Detailed steps to reproduce:
No clue, maybe this was because it was the first fitting opened after update. Never before had this behaviour.

### Fits involved in EFT format

[2017-05-10 11:16] ECHRE-Zetakya commented on #1147
Likewise. Specifically, I got this on deleting a fit while having the fit open in a tab:

OS version: 	Windows-7-6.1.7601-SP1
Python: 	2.7.10
wxPython: 	3.0.2.0
SQLAlchemy: 	1.0.5
Logbook: 	1.0.0
pyfa version: 1.29.0 Stable - YC119.5 1.0
pyfa root: D:\CCP\Pyfa
save path: C:\Users\Alisdair\.pyfa
fs encoding: mbcs

EXCEPTION: 'NoneType' object has no attribute 'projectedFits'

  File "D:\CCP\Pyfa\li

[2017-05-10 11:49] ECHRE-Zetakya commented on #1147
A bit of further testing: The issue only occurs if you delete the fit that's in the currently active tab (the one displayed in the main part of the window). Once triggered, the error window reappears whenever any change is made to what fitting would be displayed in a tab. This includes changing fit, closing a tab, opening a tab. The issue goes away if you close and reopen pyfa. Appears to happen w

[2017-05-10 13:45] jasconius opened #1149 "'decimal' codec can't encode character u'\uff00'"
## Bug Report

App crashes when dragging certain items into fit

### Expected behavior:

Item goes into fit

### Actual behavior:

Crash with error report

### Detailed steps to reproduce:

Was using a Tormenter. Tried to add ancillary armor rep to empty low slot, crash

### Fits involved in EFT format (Edit > To Clipboard > EFT):

### Release or development git branch? Please note the release ver

[2017-05-10 14:12] blitzmann commented on #692
*le sigh*

[2017-05-10 14:13] blitzmann commented on #692
@Robbilie Can you check the amount dialog? add cargo to a fit, right click -> change cargo quantity (or whatever it's called). Does it exhibit the same issue?

[2017-05-10 14:16] blitzmann commented on #1145
When you say on startup, do you mean that pyfa doesn't even start? Or does it start, and it fails when trying to open a fit?

Can you zip up your .pyfa directory (found in %userprofile%) and send it to sable.blitzmann@gmail.com? That contains your database file and user settings, and might be beneficial to help me track down the cause of the issue. :)

[2017-05-10 14:20] blitzmann commented on #1146
Thanks for the report! This is only happening when adding a warp stab, no other module that you're aware of?

Can you zip up your .pyf directory (found in `%userprofile%\.pyfa`) and send it to me at sable.blitzmann@gmail.com? This contains you database, user files, and logs that can further help troubleshoot the issue. :)

[2017-05-10 17:03] Seismix commented on #1147
Got the exact same message when deleting an active fit:

OS version: 	Windows-8-6.2.9200
Python: 	2.7.10
wxPython: 	3.0.2.0
SQLAlchemy: 	1.0.5
Logbook: 	1.0.0
pyfa version: 1.29.0 Stable - YC119.5 1.0
pyfa root: C:\Program Files (x86)\pyfa
save path: C:\Users\Oliver\.pyfa
fs encoding: mbcs

EXCEPTION: 'NoneType' object has no attribute 'projectedFits'

  File "C:\Program Files (x86)\pyfa\library.z

[2017-05-10 21:51] Robbilie commented on #692
yes

[2017-05-10 22:29] blitzmann commented on #692
ಠ_ಠ

Okay, how about the sec status editor for characters (it's new; found on the character editor below the skill tree)? Does that display funky spacing?

[2017-05-10 22:39] Robbilie commented on #692
no
looks good

[2017-05-10 22:40] blitzmann commented on #1147
Hey guyes, thanks for the bug reports. The issue has been identified and a fix is pending inclusion :)

[2017-05-10 22:44] blitzmann commented on #692
sweet. I will implement that for the amount changes then. it's a bit more bulky, but at least you'll be able to actually see the text boxes lol. Thanks for checking :)

[2017-05-10 22:53] blitzmann commented on #1147
An automated build with this fix can be found here:

https://ci.appveyor.com/project/blitzmann/pyfa/build/artifacts :)

[2017-05-10 23:07] blitzmann commented on #1149
@jasconius does this happen with other modules? Did you drag it from the market list, or from something like cargo? Unfortunately I can't seem to reproduce :(

Can you send me your `/.pyfa` directory zipped to sable.blitzmann@gmail.com? It contains logs, database, and user settings that might prove useful in determining what's happened.

[2017-05-10 23:18] blitzmann commented on #1146
Additionally, is this something you can reproduce consistently?

[2017-05-10 23:20] blitzmann commented on #1148
Hi there, thanks for the report. Would you mind sending me your `%userprofile%/.pyfa` directory by zipping it up and sending it to sable.blitzmann@gmail.com? That contains logs and other files useful in helping to troubleshoot this issue. :)

Additionally, is this issue something you can reproduce consistently?

[2017-05-10 23:20] blitzmann commented on #1145
Additionally, is this something you can reproduce consistently?

[2017-05-11 02:20] ECHRE-Zetakya opened #1151 "SQLAlchemy Session Error"
Was adding ammunition to cargo of a Jackdaw fit via right click > add 1000; following error occurred on adding Mjolnir Rage Rockets. After closing error pane, was impossible to select any other item in the market section. Close Pyfa and reopen to fix.

Haven't been able to reproduce.
[code]
---

## Bug Report

### Expected behavior:

### Actual behavior:

### Detailed steps to reproduce:

### Fits

[2017-05-11 02:24] blitzmann opened #1152 "Characters that have unicode characters in the name cannot be deleted"
This has probably been a thing for a while now, but we're getting reports of it now due to the new error dialog. See https://forums.eveonline.com/default.aspx?g=posts&m=6937051#post6937051

[2017-05-11 02:39] blitzmann commented on #1152
Fix merged, build including fix can be found here: https://ci.appveyor.com/project/blitzmann/pyfa/build/master-35/artifacts

[2017-05-11 02:41] blitzmann commented on #1151
Hi there!

This has been dogging a few folks with the release. Still not sure of the cause (have a hunch though). Could you please send me your `%userprofile%/.pyfa` directory zipped up in an email to sable.blitzmann@gmail.com? That contains logs and other files that could help in figuring this out.

Also, if you get it to reproduce consistently (or even somewhat frequently), let me know :)

[2017-05-11 05:22] blitzmann commented on #1151
I think I've fixed the issue that caused this, can you please test the latest bug fix build and let me know?

https://ci.appveyor.com/api/buildjobs/8dck2mtpae8e1elu/artifacts/pyfa.zip

[2017-05-11 05:22] blitzmann commented on #1148
I think I've fixed the issue that caused this, can you please test the latest bug fix build and let me know?

https://ci.appveyor.com/api/buildjobs/8dck2mtpae8e1elu/artifacts/pyfa.zip

[2017-05-11 05:23] blitzmann commented on #1146
I think I've fixed the issue that caused this, can you please test the latest bug fix build and let me know?

https://ci.appveyor.com/api/buildjobs/8dck2mtpae8e1elu/artifacts/pyfa.zip

[2017-05-11 05:23] blitzmann commented on #1145
I think I've fixed the issue that caused this, can you please test the latest bug fix build and let me know?

https://ci.appveyor.com/api/buildjobs/8dck2mtpae8e1elu/artifacts/pyfa.zip

[2017-05-11 05:24] blitzmann commented on #1146
duplicate #1151

[2017-05-11 05:24] blitzmann commented on #1145
dulpicate #1151

[2017-05-11 05:24] blitzmann commented on #1148
duplicate #1151

[2017-05-11 07:13] 3ayp opened #1155 "error"
Hi!

OS version: 	Windows-7-6.1.7601-SP1
Python: 	2.7.10
wxPython: 	3.0.2.0
SQLAlchemy: 	1.0.5
Logbook: 	1.0.0
pyfa version: 1.29.0 Stable - YC119.5 1.0
pyfa root: C:\Program Files (x86)\pyfa
save path: C:\Users\Elixir\.pyfa
fs encoding: mbcs

EXCEPTION: 'NoneType' object has no attribute 'projectedFits'

  File "C:\Program Files (x86)\pyfa\library.zip\gui\sfBrowserItem.py", line 318, in OnLeftUp

[2017-05-11 08:28] xMADDINx opened #1156 "crash @ start"
YC119.5 - v1.29.0

OS version: 	Windows-8-6.2.9200 ?  my os ist Win 10
Python: 	2.7.10
wxPython: 	3.0.2.0
SQLAlchemy: 	1.0.5
Logbook: 	1.0.0
pyfa version: 1.29.0 Stable - YC119.5 1.0
pyfa root: C:\Users\xMADDINx\Desktop\pyfa
save path: C:\Users\xMADDINx\.pyfa
fs encoding: mbcs

EXCEPTION: (sqlite3.OperationalError) table damagePatterns has 9 columns but 7 values were supplied [SQL: 'INSERT INTO da

[2017-05-11 08:37] anticomon opened #1157 "Error!"
OS version: 	Windows-7-6.1.7601-SP1
Python: 	2.7.10
wxPython: 	3.0.2.0
SQLAlchemy: 	1.0.5
Logbook: 	1.0.0
pyfa version: 1.29.0 Stable - YC119.5 1.0
pyfa root: C:\Program Files (x86)\pyfa
save path: C:\Users\anticomon\.pyfa
fs encoding: mbcs

EXCEPTION: 'NoneType' object has no attribute 'projectedFits'

  File "C:\Program Files (x86)\pyfa\library.zip\gui\sfBrowserItem.py", line 318, in OnLeftUp

[2017-05-11 13:52] jasconius commented on #1149
Yeah it happened with some pulse lasers too. It's only partially reproducible.

The modules were dragged from the market tab. Into both empty slots and slots with stuff already in it (to replace)

Only way to recover was to reboot, and after a reboot, sometimes you could repeat the exact same action and it would not error, but sometimes it would. Some sort of race condition...?

I'll see if I can

[2017-05-11 18:01] treky928 commented on #1146
Deleting any prowler fit with added modules crashes pyfa on the bug fix build. I get an error message doing the same thing on the stable build. I wasn't able to duplicate the adding warp stab error message.
--------------------------------------------
OS version: 	Windows-8-6.2.9200
Python: 	2.7.10
wxPython: 	3.0.2.0
SQLAlchemy: 	1.0.5
Logbook: 	1.0.0
pyfa version: 1.29.0 Stable - YC119.5 1.0
pyfa

[2017-05-11 22:05] blitzmann commented on #1149
It's just a very weird error. It doesn't make any sense to me why it would happen sometimes and not other. is it always the same error?

Are you using the `mac-deprecated` or `mac` build? I tried both, couldn't reproduce, but will try some more since you state it's not easy to reproduce. It could also possibly be related to other issues that may have been fixed, though I am skeptical of that since

[2017-05-11 23:32] blitzmann commented on #1156
Were you testing out the dev branch recently by any chance?

Can you send me the contents of your `%userprofile%/.pyfa` directory to sable.blitzmann@gmail.com? It contains logs and other information that will help in figuring this out. From the looks of things, it looks like the table had the new createdate and modifydate columns added, however for some reason is trying to run a fairly old migrati

[2017-05-11 23:32] blitzmann commented on #1155
duplicate #1147, please see that issue for an updated build (or wait for a new release coming out tonight)

[2017-05-11 23:32] #1155 closed

[2017-05-11 23:32] blitzmann commented on #1157
duplicate #1147, please see that issue for an updated build (or wait for a new release coming out tonight) :)

[2017-05-11 23:32] #1157 closed

[2017-05-11 23:33] blitzmann commented on #1146
@treky928 yep, known issue, see #1147 :)

[2017-05-11 23:59] xMADDINx commented on #1156
It does not matter which version I use it crashes. I've tested it with many different.

[2017-05-12 00:19] blitzmann commented on #1156
@xMADDINx please send me the `.pyfa` directoy zipped up in an email so that I may be able to better assist. It's an odd issue =/

[2017-05-12 00:20] xMADDINx commented on #1156
i have send an email to your email account

[2017-05-12 00:22] blitzmann opened #1158 "Pricing pane"
https://forums.eveonline.com/default.aspx?g=posts&m=6937833#post6937833

A user on the eve-o forums brought up a good point about the new pricing pane, and one that I was concerned about as well before we added it. Implants and boosters are special in that they aren't really a fitting thing, and thus for many users they don't care.

The idea that I have is to default to minimal (original pane), an

[2017-05-12 00:23] blitzmann commented on #1156
Awesome, thanks. I'll take a look at it :)

[2017-05-12 00:30] blitzmann commented on #1156
@xMADDINx which version were you using before you updated to v1.29? Are you a newer user of pyfa, or have you been using it for a long time?

Sorry about the questions, but I would like to figure out why your database looks so funky

[2017-05-12 00:34] xMADDINx commented on #1156
https://github.com/Pyfa-fit/Pyfa-fit 26.04.2016_v2 with this version the problem starts. and then i saw that your version is newer but the problem stays.  and i tested your older version and a fix of your version. but the problem stays. :(

[2017-05-12 00:35] blitzmann commented on #1156
This is why I'm confused...

![image](https://cloud.githubusercontent.com/assets/3904767/25977328/e2161716-3688-11e7-9aee-e84c02e53f2a.png)

So the first migration took place 4/28, and only went from version 0 to version 1. This is _very_ strang. If you started using pyfa a couple weeks ago, it would have went from version 0 to something like 21. Then the version increments by 1, which again is ve

[2017-05-12 00:36] Ebag333 commented on #1156
Do you get that using my branch?

DB wise, it should match this branch.

[2017-05-12 00:38] xMADDINx commented on #1156
i used your branch frist the it chrashed @ start and i looked for an update and found blitzmans version but this chrashes @ start

[2017-05-12 00:38] blitzmann commented on #1156
Oh, well this explains a lot. pyfa-fit is not the official pyfa application. It's developed separately, and apparently broke things with migrations.

@Ebag333 this is exactly why I wanted you to change your suser database file. FFS

@xMADDINx the fix to this is simple: delete everything in your `.pyfa` directory and start anew. Sorry for the confusion, but such is why happens when someone else for

[2017-05-12 00:39] xMADDINx commented on #1156
problem solved iver deleted .pyfa and it works

[2017-05-12 00:39] #1156 closed

[2017-05-12 00:40] xMADDINx commented on #1156
thanks for your help :)

[2017-05-12 01:16] Ebag333 commented on #1156
Nope. Migrations are the same.

This is why I wanted to work with you.

@xMADDINx sorry to hear you had an issue with it. If you want to have a more elegant answer than "delete everything" let me know.

I will continue to maintain cross compatibility with Pyfa-org, so you can go back and forth if you like to.

And the dozens of crashes is what happens when you ignore the work that the most active

[2017-05-12 03:24] blitzmann commented on #1152
v1.29.1 is out :)

[2017-05-12 03:24] #1152 closed

[2017-05-12 03:24] blitzmann commented on #1151
v1.29.1 is out which should have a fix in place for this issue. Let me know of any other issues or problems.

[2017-05-12 03:24] #1151 closed

[2017-05-12 03:24] blitzmann commented on #1148
v1.29.1 is out which should have a fix in place for this issue. Let me know of any other issues or problems.

[2017-05-12 03:24] #1148 closed

[2017-05-12 03:24] blitzmann commented on #1147
v1.29.1 is out which should have a fix in place for this issue. Let me know of any other issues or problems.

[2017-05-12 03:24] #1147 closed

[2017-05-12 03:24] blitzmann commented on #1146
v1.29.1 is out which should have a fix in place for this issue. Let me know of any other issues or problems.

[2017-05-12 03:24] #1146 closed

[2017-05-12 03:24] blitzmann commented on #1145
v1.29.1 is out which should have a fix in place for this issue. Let me know of any other issues or problems.

[2017-05-12 03:24] #1145 closed

[2017-05-12 13:22] Rarilmar commented on #1055
I noticed with the latest version (1.29.1) that deleting a fit creates an error message, but pyfa continues to function after closing it.
![untitled](https://cloud.githubusercontent.com/assets/6603349/25999805/319ca5e2-372f-11e7-84f2-8a40bd2c347a.jpg)

[2017-05-12 13:41] Rarilmar commented on #1147
Well, I have the error on 1.29.1
![319ca5e2-372f-11e7-84f2-8a40bd2c347a](https://cloud.githubusercontent.com/assets/6603349/26000480/ca0749c0-3731-11e7-9138-40bd7ddfbdba.jpg)

[2017-05-12 16:32] rinakondur opened #1160 "Error when stripping fit"
# Submit a bug report bug report or feature request

Here you can inform pyfa developers of potential bugs or suggest features / improvements to the project. Please check
to make sure that the bug hasn't been reported or feature requested before submitting. If you have general questions
about the project and want to reach out to the developers personally, please check out out our [Slack]
(https://

[2017-05-12 16:34] rinakondur commented on #1160
Save path is correct on my end, seems GitHub likes to remove the \ before .pyfa.

[2017-05-12 19:37] blitzmann commented on #1160
Oh hey Rina! Long time no see. =)

Thanks for the report, will take a look tonight. Has select all > delete always been a thing?

[2017-05-12 19:39] blitzmann commented on #1147
@rarilmar seems to be a separate issue, at least the error isn't 100% the same. Did you get this when deleting the fit as well? I'll take a look tonight =)

[2017-05-13 00:36] blitzmann commented on #1147
@Rarilmar can you send me a zip archive of your `%userprofile%/.pyfa` directory to sable.blitzmann@gmail.com? It contains user data that will hopefully help to figure out why that error happened.

[2017-05-13 04:16] blitzmann commented on #1160
Took a look at it tonight. Seems to only affect t3ds due to the Tactical Mode showing up in the list (which isn't a module, but something that's a property of the fit itself, hence the error).

It's an easy fix, but in the process of looking at it, I also noticed that a fit is recalculated for every module removed... lolwut!? I've also fixed this, but since it's a larger and lower level change, I'

[2017-05-13 07:08] ToyZorus opened #1161 "Crash on delete fittings"
OS version: 	Linux-4.9.0-1-amd64-x86_64-with-debian-9.0
Python: 	2.7.13
wxPython: 	3.0.2.0
SQLAlchemy: 	1.0.15
Logbook: 	1.0.0
pyfa version: 1.29.1 Stable - YC119.5 1.0
pyfa root: /opt/Pyfa-1.29.1
save path: /home/XXXX/.pyfa
fs encoding: UTF-8

EXCEPTION: 'NoneType' object has no attribute 'projectedFits'

  File "/opt/Pyfa-1.29.1/gui/sfBrowserItem.py", line 347, in OnLeaveWindow
    self.Refresh(

[2017-05-13 08:37] Ebag333 commented on #1147
These are also stacktraces that I fixed ages ago.....

[2017-05-13 21:15] MrBertman opened #1162 "Error then try add ship with Remote Hull Repairer into project"
OS version: 	Windows-7-6.1.7601-SP1
Python: 	2.7.10
wxPython: 	3.0.2.0
SQLAlchemy: 	1.0.5
Logbook: 	1.0.0
pyfa version: 1.29.1 Stable - YC119.5 1.0
pyfa root:
save path:
fs encoding: mbcs

EXCEPTION: u'Remote Hull Repairer'

  File "D:\Games\pyfa\library.zip\gui\statsPane.py", line 75, in fitChanged
    view.refreshPanel(fit)
  File "D:\Games\pyfa\library.zip\gui\builtinStatsViews\rechargeViewFull

[2017-05-14 00:43] blitzmann commented on #1161
Hi there,

Can you describe what you were doing when you tried to delete the fitting? Was the fit open when you tried to delete it?

[2017-05-14 00:50] blitzmann commented on #1162
Can you be a bit more detailed? Which remote hull repairer module exactly were you trying to add to the fit? Can you post the fit? Does this happen consistently?

[2017-05-14 01:02] blitzmann commented on #1147
@Ebag333 Would you mind linking to them then? Do you have reproduction steps? I looked through your PRs when you said you had a few fixes, but didn't come across these things, or maybe I missed them.

As for @Rarilmar's error, the fix itself is simple - just check if it's `None` first (and indeed, this is what I have done), but I'm unsure of why it would ever happen in the first place. If there is

[2017-05-14 01:15] blitzmann commented on #1162
Ah, I see, happens during self-projection when you have a remote hull repairer. I got it to reproduce and have a fix for it, will post when an updated build is generated :)

[2017-05-14 01:36] Ebag333 commented on #1161
This (along with most of the others) is probably from where we don't have a fit object and just assume it's there.  Simple `if None` check fixes it.  There are literally dozens of these scattered all over the code.

[2017-05-14 01:39] Ebag333 commented on #1160
Doesn't happen in my fork.

I recall running into this stacktrace, it wasn't just T3Ds (or at least I didn't notice it on them) but was caused by something else.

[2017-05-14 01:58] blitzmann commented on #1161
Yep, I'm aware it's due to the `sFit.getFit()` call, since it assumes the fit you're trying to get exists. A simple `is None` would indeed fix it. However, that doesn't address why this error is happening in the Refresh(), as I have a conditional there to not run if the `FitItem` has been deleted, which happens when the user deletes the fit https://github.com/pyfa-org/Pyfa/blob/9f5e14fe2d8210475db

[2017-05-14 01:59] Ebag333 commented on #1147
There are dozens of these scattered all over.  There's a couple PRs where I fixed good numbers of them, but a lot of them got fixed in situ as I was working on the module in question.

The good news is that there's only 305 commits to search through. :)

Essentially, though, each instance of being lazy and using `variable = self.something` needs to be trapped and handled. Either a try/catch or a `

[2017-05-14 02:55] blitzmann commented on #1147
@Ebag333 Thanks for the links, I'll take a look through them. But I was specifically asking about the errors noted in this issue since you state that you've known about them and fixed them. :/

[2017-05-14 03:41] Ebag333 commented on #1147
Well, I'm sure if you'd asked a month ago I'd probably remember.  But that was a month, hundreds of commits, multiple projects ago. :)

Mostly just the fit object literally being None, because it doesn't exist (projected/command) or it it an empty tab, or it's being created/destroyed (mostly destroyed).

[2017-05-14 06:16] blitzmann commented on #1147
Neither the active fit or the projected fit isn't None though. The fact that this started in projected view means that there is at least an active fit (and not just an empty view). The projected view shows everything in `fit.projectedFits` (along with mods and stuff), and the fact that there is something there means there is a Fit object in this collection. The projected fit that is displayed has

[2017-05-14 17:03] cnaeus opened #1167 "EXCEPTION: 'ascii' codec can't encode character u'\u047e'"
## Pyfa gives an exception when i right click on the Projected frame to add a projection. This problem just started happening yesterday, have been using pyfa for a year now, and never had this issue.

Using Win 10 64, and newest version of pyfa

[2017-05-14 17:35] Ebag333 commented on #1167
Do you use unicode characters in your ship names?

[2017-05-14 17:45] Ebag333 commented on #1167
There's actually a bunch of times when we'd stacktrace because of this.

Fixed in my branch. 😁
https://github.com/Pyfa-fit/Pyfa-fit/pull/88

[2017-05-14 17:50] cnaeus commented on #1167
I'm new to GitHub, Fixed in my branch means...?

[2017-05-15 01:29] blitzmann commented on #1167
It a dev thing. ebag has a fix available on his repo which I've gone ahead and applied top the pyfa repo. Thanks to both of you for the report and the fix. :)

@cnaeus an automated build with the fix can be found here: https://ci.appveyor.com/api/buildjobs/nsrtecpt652taa69/artifacts/pyfa.zip let me know if you run into any other problems. Thanks!

[2017-05-15 04:14] slider-arnolles opened #1171 "Error loading hulk fit"
## Bug Report
Pyfa shows error dialog loading hulk fit.

OS version: 	Windows-8-6.2.9200
Python: 	2.7.10
wxPython: 	3.0.2.0
SQLAlchemy: 	1.0.5
Logbook: 	1.0.0
pyfa version: 1.29.1 Stable - YC119.5 1.0
pyfa root: C:\Program Files (x86)\pyfa
save path: C:\Users\Kenneth\.pyfa
fs encoding: mbcs

EXCEPTION: unsupported operand type(s) for +: 'float' and 'NoneType'

  File "C:\Program Files (x86)\pyfa\l

[2017-05-15 07:14] MrBertman commented on #1162
It happens with any remote hull repairer/ship or add remote hull repairer in fit when fir projected on itself

p.s. wasnt able to answer before
![screenshot_2](https://cloud.githubusercontent.com/assets/28252274/26046356/4375f7bc-3957-11e7-9bdb-5a2c8db1a9a9.png)
[error log.txt](https://github.com/pyfa-org/Pyfa/files/1000336/error.log.txt)

[2017-05-15 21:59] alexandre75 commented on #1156
Hello I've the same issue since I've upgraded from
pyfa-1.28.1-yc119.3-1.0-linux.zip -> pyfa-1.29.1-yc119.5-1.0-linux.zip

I could downgrade both the binaries and the db and fixed the issue.

Any idea how I could have 1.29.1 binaries work without trashing my db?

[2017-05-16 00:39] Seismix commented on #1162
Same thing happening with the remote ancillary armor rep:

[code]
Not sure if the update fixes remote hull reps only or everything related to projection

[2017-05-16 01:11] blitzmann commented on #1171
@slider-arnolles can you send me your `%userprofile%/.pyfa/saveddata.db` file to sable.blitzmann@gmail.com? That will contain the fitting needed to reproduce the issue.

[2017-05-16 02:05] blitzmann commented on #1171
@slider-arnolles nevermind, you already sent it! :) Will take a look

[2017-05-16 02:09] blitzmann commented on #1171
@slider-arnolles can you send me your %userprofile%/.pyfa/saveddata.db file to sable.blitzmann@gmail.com? That will contain the fitting needed to reproduce the issue.

[2017-05-16 03:04] blitzmann commented on #1162
Hey guys, sorry, forgot to update. This has been fix and an automated build can be found here:

https://ci.appveyor.com/api/buildjobs/87j8g6pa4yft2a88/artifacts/pyfa.zip

I will be making a stable point release tomorrow (was going to make one tonight, but got caught up in stuff >_>)

[2017-05-16 04:13] blitzmann commented on #1171
I was able to reproduce the error, and have a fix available on this automated build:

https://ci.appveyor.com/api/buildjobs/lf760e1v2hx2u4gq/artifacts/pyfa.zip

Could you confirm the fix?

[2017-05-16 09:30] zielliger opened #1174 ""Can't set attribute" when reverting skills in Character Editor pane"
### Behaviour
When pressing "Revert" button in the Character Editor pane, an error dialogue pops up.
[code]

[2017-05-16 18:55] rinakondur commented on #1160
Thanks guys!

On May 13, 2017 9:39 PM, "Ebag333" <notifications@github.com> wrote:

[2017-05-17 01:23] blitzmann commented on #1174
Yep, this has already been fixed, will be releasing a point release tonight hopefully :)

[2017-05-17 01:24] blitzmann commented on #1160
@rinakondur You still doing FW things?

[2017-05-17 04:33] Folles opened #1176 "Error message on delete fit"
## Bug Report
OS version: 	Windows-7-6.1.7601-SP1
Python: 	2.7.10
wxPython: 	3.0.2.0
SQLAlchemy: 	1.0.5
Logbook: 	1.0.0
pyfa version: 1.29.2 Stable - YC119.5 1.0
pyfa root: E:\Giochi\EVE ONLINE\PYFA
save path: C:\Users\Nimrod\.pyfa
fs encoding: mbcs

EXCEPTION: String or Unicode type required

  File "E:\Giochi\EVE ONLINE\PYFA\library.zip\gui\projectedView.py", line 213, in fitChanged
    self.upd

[2017-05-17 13:30] Folles opened #1177 "Error message when trying to project same ship fitting that is being worked over om the same ship"
## Bug Report
OS version: 	Windows-7-6.1.7601-SP1
Python: 	2.7.10
wxPython: 	3.0.2.0
SQLAlchemy: 	1.0.5
Logbook: 	1.0.0
pyfa version: 1.29.2 Stable - YC119.5 1.0
pyfa root: E:\Giochi\EVE ONLINE\PYFA
save path: C:\Users\Nimrod\.pyfa
fs encoding: mbcs

EXCEPTION: u'Ancillary Remote Armor Repairer'

  File "E:\Giochi\EVE ONLINE\PYFA\library.zip\gui\statsPane.py", line 75, in fitChanged
    view.refre

[2017-05-17 14:02] ghesla commented on #1149
I received a very similar error this morning when dragging a script into the cargo hold of a fit.
Mac OS 10.12.5

[2017-05-17 14:27] Rarilmar commented on #1176
Just the error message but not app crash, same here trough.

[2017-05-17 16:47] nikander100 opened #1178 "Fighter's value's are in the negatives"
# Submit a bug report bug report or feature request

Here you can inform pyfa developers of potential bugs or suggest features / improvements to the project. Please check
to make sure that the bug hasn't been reported or feature requested before submitting. If you have general questions
about the project and want to reach out to the developers personally, please check out out our [Slack]
(https://

[2017-05-18 04:37] Folles commented on #1035
how do you get 47 kms with the MSM II?

[2017-05-18 15:15] unti1x opened #1179 "Double click on empty element causes an exception"
1. Open "Command" or "Projected" tab
2. Double click empty element

![Screenshot](http://storage9.static.itmages.com/i/17/0518/h_1495120432_2190124_f8d3494ba6.jpeg)

[code]

[2017-05-18 15:46] gamingloser commented on #1035
Rorq pilot with all Vs (with mining boosts and implant) and hulk pilot with all Vs.

[2017-05-19 00:42] #1160 closed

[2017-05-19 00:42] #1161 closed

[2017-05-19 00:42] #1162 closed

[2017-05-19 00:42] #1167 closed

[2017-05-19 00:42] #1171 closed

[2017-05-19 00:42] #1174 closed

[2017-05-19 01:05] blitzmann commented on #1176
Can either of you get this to reproduce consistently? It's been difficult to track this bug down as I can't reproduce myself - I've tried a few blind attempts, but they mostly cover up the issue rather than fix it. What's happening is that you have a list of projected fits in the projected view when there shouldn't be. I have a feeling it has to do with self-projected fits - . When deleting the fi

[2017-05-19 03:09] blitzmann commented on #1178
Thanks for noticing this! I got a fix out for it, see here: https://ci.appveyor.com/project/blitzmann/pyfa/build/artifacts

Will also be available in the 1.29.3 release whenever that comes out :)

[2017-05-19 03:10] blitzmann commented on #1179
Thanks for the report! There's an automated build which include a fix for this here in case you're interested https://ci.appveyor.com/project/blitzmann/pyfa/build/artifacts

:D

[2017-05-19 10:37] oovarvu opened #1182 "bug"
## Bug Report

this showed up, i had just finished pulling updated api for the characters i have in pyfa and returned to tinker with fis there were several of these windows but as far as i could see they all said the same thing

[code]

### Expected behavior:

### Actual behavior:

### Detailed steps to reproduce:

### Fits involved in EFT format (Edit > To Clipboard > EFT):

### Release or develo

[2017-05-20 00:25] BartMassey opened #1183 "Error dialog is not resizable, locked to top level, cuts off part of prompt."
Four error dialogs popped up when I started Pyfa 1.29.2 for the first time today. My fonts are large, and the dialog window is not resizable, so the prompt about how to deal with the errors ends with "Please". So I guess I am supposed to please do something: I'm guessing post here. Also, the dialogs are marked not hidable by other windows, which kind of makes sense, but also makes it a problem whe

[2017-05-20 00:54] BartMassey opened #1184 "Using the search window triggers an error dialog"
## Bug Report

Typing in the search window on 1.29.2 triggers an error dialog on every character.

### Expected behavior:

I get to search for a ship.

### Actual behavior:

Error dialog pops up for each initially typed character. Then Pyfa hangs.

### Detailed steps to reproduce:

Start Pyfa. Start to type "imicus".

### Fits involved in EFT format (Edit > To Clipboard > EFT):

N/A

### Release o

[2017-05-20 00:56] BartMassey commented on #1184
Browsing down to Imicus and trying to open my Imicus fits apparently triggers the same bug.

[2017-05-20 00:58] BartMassey commented on #1184
On the other hand, with a fresh PyFA fittings directory, everything seems to work fine. So perhaps some database conversion issue?

[2017-05-20 01:23] BartMassey commented on #1184
Backing up my fits to XML using 1.28.1 and then restoring with a fresh 1.29.2 resolved the problem. Still probably needs looking into. I've saved my old .pyfa dir (of course): let me know if you want me to zipball it and put it somewhere.

[2017-05-20 02:05] Ebag333 commented on #1184
There was another user who's DB I just fixed. After migration 22, it seems 23 failed. Because the DB version doesn't update until after all the migrations are done, it rolls back to where it started (in that particular case, version 5).

There's also no validation before migrations are run, so it's possible that re-running a migration causes problems.

I'd be curious to see your DB, and see if it

[2017-05-20 02:14] BartMassey commented on #1184
Sent. Thanks.

[2017-05-20 05:34] blitzmann commented on #1183
oh lol >.<

Can you provide a screenshot of the error dialogs? Additionally, can you look in `~/.pyfa` for logs and let me know if you see any that have traceback info and post here? Would like to not only fix the dialog itself, but what causes the dialog in the first place :)

[2017-05-20 06:00] blitzmann commented on #1184
Re-running a migration shouldn't cause issue - that's why there are try/catches in it. Those are basically checks to see if the migration has been applied and, if not, run the migration. Additionally, I specifically test this myself every now and then by setting my database to 0 and having it go through the motions. What _is_ possible however is breaking due to downgrading, especially for columns

[2017-05-20 06:03] blitzmann commented on #1182
Thanks for the bug report! Some other folks have stated that they've run into this issue as well (or something similar, which was thought to have been fixed in the latest release). Can you reproduce it consistently?

[2017-05-20 06:28] blitzmann commented on #1184
@Ebag333 you are absolutely correct. Doesn't happen when it's a new database, but when it's an older database that hasn't been updated in a long time (so, like, setting it to version 1), it breaks. Should be an easy fix... don't know a good way to handle it long term though without having to remember to check previous migrations and see if new things are affected. Any thoughts?

Additionally, I do

[2017-05-20 07:24] SKYMEMiC opened #1186 "CTRL-drag causes crash"
Tried to ctrl-drag the drone damage amplifier as this error appeared
-----
[code]
----
Fit:

[code]

[2017-05-20 15:03] BartMassey commented on #1184
Unfortunately, my fresh 1.29.2 install is now exhibiting the same bug that the migrated 1.28.1 did. I've reverted to 1.28.2 and my old database for now. @blitzmann, @Ebag333 I'll send you both sets of databases, but as you say I don't think it's just a database migration issue. My suspicion is that I have a too-old version of some Python supporting package. Is it straightforward to check on startu

[2017-05-20 15:23] BartMassey commented on #1183
I filed a separate issue #1184 for the actual bug: you're working on it now.

Here's a screenshot:
![pyfa-error-dialog](https://cloud.githubusercontent.com/assets/117151/26276860/57e0ecde-3d35-11e7-91c6-68a913e62285.png)

[2017-05-20 22:51] Rarilmar commented on #1176
Yeah now the error is related to the fit being opened in tabs. Happens every time for me. I guess I can test a development version if u need (and if I remember to check back here lol)

[2017-05-21 05:25] blitzmann commented on #1184
@BartMassey I tested and could reproduce on Linux using sqlalchemy 0.9.4 (haven't tried on Windows yet, but I assume it would be the same issue). Try updating to >=1.0 and let me know (pyfa has a soft min requirement of 1.0.5, see README).

I'll take a closer peak at it tomorrow, however this may just be a situation where an update is required. As I said in my other comment, it looks like it's get

[2017-05-21 05:35] blitzmann commented on #1186
Hi there,

Can you be a bit more specific with where you're dragging this to?

![image](https://cloud.githubusercontent.com/assets/3904767/26281462/356bfe60-3dc5-11e7-9705-5d4e43a5ae78.png)

I attempted to copy one of the drone amplifiers to the first empty low slot (4th overall), and could not reproduce the error. I tried other combinations as well with no luck.

What did produce an error, howeve

[2017-05-21 05:42] blitzmann commented on #1183
My god that's hideous looking. I will look at this as soon as I can. :)

[2017-05-21 05:57] BartMassey commented on #1184
Yep, that's got it. I apparently installed `sqlalchemy` 0.9.4 via `pip` a while back, and it was shadowing my distro version 1.1.6. So totally my bad. With 1.1.6 it seems to work perfectly.

Could Pyfa check package versions as it comes up and pop an error dialog then?

Thanks much for figuring this out. I had tried updating `sqlalchemy`, but of course hadn't noticed that Pyfa was still using that

[2017-05-21 06:36] Ebag333 commented on #1183
How does the rest of the app look? Mind screenshotting it?

[2017-05-21 07:52] BartMassey commented on #1183
It's fine.
![pyfa-20170521](https://cloud.githubusercontent.com/assets/117151/26282133/ca67f646-3dbf-11e7-9258-8f956ebef334.png)

[2017-05-21 09:04] minlexx commented on #1183
@BartMassey maybe you have some strange system default font settings? 😮

[2017-05-21 19:17] #1056 closed

[2017-05-21 19:20] Ebag333 commented on #1156
So just to comment on this to clear it up, this is _not_ being caused by users using Pyfa.fit.  migration 23 or 24 fails to run for <reasons> (haven't figured out why), and the DB version gets reverted back to whatever number it started on, and several migrations don't understand the new DB schema.

@alexandre75 I don't know if you're still looking at this, but if you want to email me your DB (`eb

[2017-05-21 23:19] blitzmann commented on #1184
pyfa does have something in place for that, but the version isn't set correctly for sqlalchemy due to osx-deprecated still using 0.6 i believe (so, the absolute minimum version is 0.6 or something). We still have some folks that use it because the other mac version doesn't work well on later OS X version (or something, I don't specifically remember). The sqlalchemy event stuff isn't turned on in t

[2017-05-21 23:19] #1184 closed

[2017-05-21 23:25] blitzmann commented on #1183
Well... not quite. The character drop down, lists, menu, etc are all scaled up due to them using the system font sizes. I bet the preferences panels look like shit as well. Whereas the stats look fine because we explicitly set the font on these, and the tabs also look fine because the size is hardcoded when the tabs are drawn. Honestly, I never through about what happens when a user increases thei

[2017-05-21 23:30] blitzmann commented on #1176
@Rarilmar so it happens everytime you open a fit? Can you paste the error message here (has info on system versions and stuff), and take a screenshot of a fit that exhibits the issue? Can you also send me your `%userprofile%/.pyfa` directory zipped up to sable.blitzmann@gmail.com? That contains your user database and some log files that might prove useful.

Once you email me those files, I can kee

[2017-05-21 23:32] blitzmann commented on #1182
@oovarvu Can you reproduce this consistently, or is it very intermittent? Can you also please send me `C:\Users\1st\.pyfa` zipped up to sable.blitzmann@gmail.com? It contains database and logs, and will hopefully help determine the cause of this :)

[2017-05-21 23:59] Ebag333 commented on #1183
There's been more than one mention of issues, especially with 4k or high display scaling.

[2017-05-22 00:17] blitzmann commented on #1183
The only specific issue that I've known of is how pyfa looks on Retina (and similar), and that's because we aren't drawing some UI elements with the proper resolution (for example, tabs). I do imagine, though, that with the higher resolutions these days, folks are setting their font scaling up.

[2017-05-22 00:32] blitzmann commented on #1186
@SKYMEMiC can you test and see if this build works better for you?

https://ci.appveyor.com/project/blitzmann/pyfa/build/bug/1186-101/artifacts

I found a bunch of issue with the swapping of modules from various sources - I believe I've cleaned them most if not all of them up. If you still run into the error, please let me know exactly which module you're dragging, where it's dragging from, and wh

[2017-05-22 05:00] blitzmann commented on #1177
@Folles Thanks for the heads up on this error. This was fixed with d1fc2dd6e, forgot to reference this issue with it. If you want a build that includes the fix, please see here: https://ci.appveyor.com/api/buildjobs/chfievc106j16h1g/artifacts/pyfa.zip

Otherwise, a new point release will be out in the next couple of days :)

[2017-05-22 05:20] SKYMEMiC commented on #1186
Sorry for not being more precise, but i didn't know how to reproduce. I just noticed before some strange behavior and as the bug window came i just wanted to let you know. I installed the new build. Will test it. As I have the chance to change something: I often use ctrl-drag to copy modules. Often it happens to me, that a module is deleted than copied. I think it's the "delete on double click"-fu

[2017-05-22 05:48] blitzmann commented on #1186
@SKYMEMiC I see what you mean, however I don't know of a good way to prevent that. I checked for a double click up event which would only fire after the button is released after the second click, however wxpython doesn't seem to support that (it may very well be a system thing). The best solution I can come up with is to ignore the `removeModule` call if the ctrl key is pressed, however in my test

[2017-05-22 06:25] SKYMEMiC commented on #1186
What about an entry in Preferences -> General: (x) Double click causes deletion

[2017-05-22 10:13] Folles opened #1191 "Booster penalties do not apply to SAAR"
## Bug Report
When setting booster penalty armorrepairamount to yes, SAAR doesn't get affected.

### Expected behavior:
Repaired amor HP/s should show the negative effect coming from the booster penalty.

### Actual behavior:
It doesn't show the negative effect of the booster penalty on armor repair amount HP/s

### Detailed steps to reproduce:
Set negative effect of booster armor repair amount to

[2017-05-22 10:25] Folles commented on #1176
updated reproduction steps.

[2017-05-22 19:15] jasconius commented on #1149
I just sent my pyfa lib zip file. Still happening, seemingly even more with the x.2 release.

I will note that the PC version is generally stable. But this mac version is not usable

[2017-05-23 01:10] blitzmann commented on #1149
Thanks for the files guys. With the extra logging I enabled in 1.29.2, I found some oddities:

![image](https://cloud.githubusercontent.com/assets/3904767/26334195/4c4ed27a-3f31-11e7-8311-70907b6fe506.png)

![image](https://cloud.githubusercontent.com/assets/3904767/26334200/54d13c58-3f31-11e7-98f0-98d8f0aff90d.png)

![image](https://cloud.githubusercontent.com/assets/3904767/26334410/e4cbf6e4-3f3

[2017-05-23 01:10] BartMassey commented on #1184
Thanks for looking into it. Maybe you could turn off the sqlalchemy stuff anytime it is below the required version?

[2017-05-23 01:15] jasconius commented on #1149
Do you know roughly what file/line we're dealing with?

I know with with Python every day on Mac I could take a look.

How much trouble am I going to run into getting the source spun up in a fresh virtual environment? Any dependencies outside of pip?

[2017-05-23 01:15] blitzmann commented on #1184
I already turn it off if the build is mac deprecated as that is the only build to use an outdated version. However, I didn't consider source users also potentially being behind as well. I plan to focus on the mac builds soon to get them up to snuff, and then up the sqlalchemy version. In the meantime, I potentially could check the sqlalchemy version on everything except the mac deprecated build an

[2017-05-23 01:17] BartMassey commented on #1183
I have some moderate vision impairment, so large fonts are pretty important to me. I can live with the size the stats use, but I definitely have to squint at it. If my vision gets any worse I'll probably have to figure out how to increase that size to be able to use Pyfa.

[2017-05-23 01:20] BartMassey commented on #1184
Thanks!

[2017-05-23 01:25] blitzmann commented on #1149
OMFG I would love you long time if you're a python dev working on mac. I run off a shitty, slow VM and am not a mac guy, so any help in that arena is much appreciated! It'll be a lot easier to chat on Slack moving forward if you're interested in helping with this: https://pyfainvite.azurewebsites.net/

wxPython is the only one - http://downloads.sourceforge.net/wxpython/wxPython3.0-osx-3.0.2.0-coc

[2017-05-23 01:35] blitzmann commented on #1183
Some parts of the stats stuff is easily changed as they key off `gui/utils/fonts.py`. I had to do this at some point because font sizes in mac are different.

![image](https://cloud.githubusercontent.com/assets/3904767/26334903/3ad8285c-3f36-11e7-9a3c-67c004da014e.png)

There are other areas that are probably hardcoded and whatnot, or don't respect system settings. I do need to kind of go over all

[2017-05-23 01:38] jasconius commented on #1149
Yeah I use PyCharm on latest OS X, I develop python full time on Mac, but it's web, so I don't have very much py GUI experience, but I know the essentials. I just need this to work because when I get bored in the office I like playing with Pyfa on my Mac :)

This only started happening (to the best of my knowledge) on the latest release (1.29.x), so I may also look at the commit logs and see what

[2017-05-23 01:41] blitzmann commented on #1149
1.29.x introduced a new error dialog. It may have always silently failed, which is my current thought on why this was never brought up before. I don't think 1.29.x touched any of the drag and drop stuff

[2017-05-23 01:47] jasconius commented on #1149
I will get on slack at some point, but as a point of curiosity, is there anything about the flow of execution in your error reporter that might stop a UI action from being completed thoroughly?

I accept your point about it failing silently, but in 1.28.x, let's say that would happen silently, i would never experience a loss of functionality though. Whereas in 1.29, once I get this error, the app

[2017-05-23 03:14] jasconius commented on #1149
Initial inspection of the problem leads me to suspect that the source of this issue might be within the wx lib on Mac OS itself.

The python level integer and string conversions are always successful as one would expect. The problem clearly occurs somewhere between SetData() and GetData() on the wx objects.

I inspected the problematic strings in the debugger myself and they are typical garbage da

[2017-05-23 09:40] petosorus commented on #1158
Hi!
I'm interested in this (seems I only do money things in pyfa...)

How about not including the "character" price in the total but still leaving it displayed?
Could be the same with cargo and drones. In my personal use, I have a stack of ammo and a stack of drones that I just use to fill the ship, a bit like what this user says about boosters. That's personal of course, and I would like feedback

[2017-05-23 15:01] Rarilmar commented on #1176
sent u a mail...
btw opened pyfa to get the error and it all worked fine for a min, only crashed after I had a few fits opened and toyed around in menus a bit. I think it's some data/memory leak/corruption issue as I had similar errors while setting up my implants and while exporting/importing fits too.

[2017-05-23 23:52] blitzmann commented on #1149
@jasconius

Excellent. I was thinking that it was a wx issue as well, but having someone confirm that is a great step forward. I'm not opposed to hacks in this situation, as long as we can get it working properly. My first thought is to strip out any character that is not a decimal, and then `int()` it. But that would be problematic if wx is attaching a decimal to the thing. Could also do some sor

[2017-05-23 23:55] blitzmann commented on #1186
That's always possible, but seems to be very specific for this case. I'll continue to look for possible solutions in handling the event :)

Were you ever able to test out that build for the original issue? Is that working for you?

[2017-05-24 00:14] blitzmann commented on #1191
Hey there @Folles

Thanks for the report. I took a look at a booster that uses this effect (Mindflood in my example), and you're correct. However, after taking a look at the data from CCP, it seems this is intended (or possibly a bug on CCPs side).

Effect `boosterArmorRepairAmountPenalty`:
[code]

Group ID 62 is "Armor Repair Unit". Small ancil armor repper is under group ID 1199 (Ancillary Armor

[2017-05-24 00:33] blitzmann commented on #1158
@petosorus

The only thing about this is that I believe Drones should be included. A lot of time (at least when I played EVE >_>), if I went out, I fully expected to lose everything, which includes drones. So total, for me, would be a "fuck, I died... what do I have to pay to get back to where I was". But then the same can be said about cargo as well, but then sometimes cargo isn't really a that s

[2017-05-24 03:22] Ebag333 commented on #1158
Talking with a few people on Slack, they were all pretty okay with minimal being just "above the line" and full being everything.

Making it optional via menu selections would work fine, but I think that the majority of folks will be okay with hull + modules, especially as that's what the icons match.  It was always slightly weird to include some things as "modules" and some things as not.

Like y

[2017-05-24 03:53] blitzmann commented on #1158
All good points, and all things I can get behind as well.

I wouldn't say it only applies to minimal pane. For example, I may want to see the booster / implant cost at a glance, but personally don't care about that being included in total. It is slightly more complicated to build out, and I think there should be sane defaults for the total which most folks would probably keep. But at the same time

[2017-05-24 03:56] SKYMEMiC commented on #1186
I've been testing around quite a bit and no further error appeared to me. But I don't know whether it's just a feeling or really true that Pyfa now takes longer to start. (Are there debuging Options enabled that could cause that?)

[2017-05-24 10:30] petosorus commented on #1158
I like the idea of the context menu to set options of what's in total and what's not.
It would be accessible on both full and minimal panes, and be taken into account for both totals

[2017-05-24 13:30] blitzmann commented on #1191
@Folles CCP Larrikin agrees it seems to be a defect in EVE. I'll be submitting an official bug report to CCP today detailing it. I'm gonna leave this issue open for now so that I can remember to periodically check on this. :)

[2017-05-24 23:21] blitzmann commented on #1191
As an update, logged a bug with CCP. Seems to be affecting shield boosts as well (crash booster) (which apparently isn't implemented in pyfa anyway, lol). Will continue to update once the bug report is resolved :)

[2017-05-24 23:32] blitzmann commented on #1186
@SKYMEMiC

There aren't any debugging options on those automated builds that I'm aware of. I tested it just now and the initial load indeed took a little while to start, but subsequent loads seem to be the same as with my personal installation of pyfa. It could be an anomoly related to the fact that these are automated builds. v0v

[2017-05-25 14:13] Frost212 opened #1192 "Skills missing from Change Ship skills menu."
## Bug Report
Racial/T2 Hull skills missing from some "Change Ship skills" Right click menus.
https://puu.sh/w0DbS/7ac719608b.png

### Expected behavior:
The Racial/T2 Hull skill (I.e Amarr frigate, and Assault Frigate) should both show up when you open the "Change ship skills" section of the right click menu while modifying a fit.

### Actual behavior:
The Racial/t2 Hull skills only show up on so

[2017-05-25 16:49] blitzmann commented on #1192
@Frost212 Damn, awesome work with the spreadsheet. Excellent bug report :D

IIRC, this is a known limitation of how this thing works. It's been a long while since I looked at the "affecting skills" bit, but I do know it's not 100% accurate for all cases (due to technical limitations). For hull skills, you should look on the modules that the skill is affecting, rather than the hull itself. I know t

[2017-05-25 19:26] Frost212 commented on #1192
Just took a quick peak.  You are correct in that they are showing up on the Modules themselves (Checked the phantasm for example, the Caldari cruiser skill ONLY shows up on an afterburner, and the Amarr cruiser shows up on the guns). It would be nice to have them listed with the rest of the generic hull skills (Since it's technically still a ship skill) But as long as it shows up somewhere (Other

[2017-05-25 20:14] blitzmann commented on #1192
I agree, it would be preferable to have them located on the ship, as that's where the majority of folks would look for them. I have an idea on how to do this that I'll try to test out tonight, but can't promise anything. :)

[2017-05-27 10:19] lunedis opened #1193 "Extraorbitant stacking with circular projection / command bursting"
## Bug Report

### Expected behavior:
Normal bonus onto Crucifier

### Actual behavior:
TD shows range of 1061km+354km with 581% strength (lol)

### Detailed steps to reproduce:
Create both fittings and open them.
Project Crucifier onto Nighthawk.
Add Nighthawk as Command Booster for Crucifier.

### Fits involved in EFT format (Edit > To Clipboard > EFT):
[code]
[code]
### Release or development g

[2017-05-27 11:35] Frost212 commented on #1192
@blitzmann I found a  similar bug when fitting up a sacrilege (Although this one appears to ACTUALLY be a bug).  The skill "Warhead upgrades" (Which, on the other three ships i checked, shows up ((Gila, Cerb, Damnation)) doesn't show up under "Charge skills".  Wasn't sure if i should open a new issue ticket or not, since it's somewhat the same as the original report i made. (Also of note, currentl

[2017-05-27 15:33] Folles commented on #1191
Wow, from such a little thing, you dig up a hole! *hat's off to you*

[2017-05-28 01:23] blitzmann commented on #1191
Oh, good catch. I'll add that to the bug report - it's also probably a true defect in EVE.

When CCP added ancil reppers, there were a bunch of effects that they forgot to add these to. most were fixed, but I'm not surprised boosters was one of the things overlooked. :)

[2017-05-28 01:37] blitzmann commented on #1193
Yep, this was reported to me privately along with data needed to verify (which was AT sensitive, so can't post the exact details). I never got around to making a general bug report about it. I know what the problem is and have a potential fix for it, but am wanting to test it out a bit more thoroughly (also, I didn't know this affected projections as well - I only verified and fixed the command is

[2017-05-28 01:40] blitzmann commented on #1192
@Frost212 So, I believe there is another issue at play here. On the sacrilege, check the character that is assigned to the ship. Does it have Warhead Upgrades at "Not Learned"?

IIRC, this is an old bug in which "Not learned" skills don't show up. This is because they aren't applied _at all_ during the fitting calculations, thus the modules and whatnot never know about them. If you switch it to a

[2017-05-28 08:36] Frost212 commented on #1192
@blitzmann Hmm, it does seem you are correct. On my main it does show up in the list (She has it trained to 5, the Alt has it injected, but not trained yet).

[2017-05-29 00:08] maurer commented on #1176
I'm experiencing the same issue immediately after updating - I updated, went to delete a fit, and got this error. The client did not crash, but the fit is not deleted, and will regenerate a similar error message (the second one) if I press it again.
[code]

[code]

[2017-05-30 20:04] krelios opened #1195 "Can't Put Rigs on Procurer"
# Submit a bug report bug report or feature request

Here you can inform pyfa developers of potential bugs or suggest features / improvements to the project. Please check
to make sure that the bug hasn't been reported or feature requested before submitting. If you have general questions
about the project and want to reach out to the developers personally, please check out out our [Slack]
(https://

[2017-05-30 22:23] blitzmann commented on #1195
Hi there @krelios

Double check you are adding medium sized rigs. Works for me

![image](https://cloud.githubusercontent.com/assets/3904767/26607523/e1a451cc-4564-11e7-8ad3-d2e907f8ce3c.png)

If it's still not working for you, please give an example of a rig that you're trying to add. Additionally, try to create a new fit and see if it works on that one. Let me know how that turns out and I can in

[2017-05-30 23:03] krelios commented on #1195
Yep, it was user error. Sorry for the trouble but thanks for the help!

[2017-05-30 23:03] #1195 closed

[2017-05-31 02:25] blitzmann commented on #1195
No worries, glad it was an easy fix! :D

[2017-05-31 02:33] blitzmann commented on #1176
I'm going to be including a fix that hopefully takes care of these issues. No guarantees - I've still be unable to reproduce these myself, so I'm going by error messages.

@maurer you say that you're able to consistently reproduce every time you try to delete a fit? Would you mind emailing your `%userprofile%/.pyfa/saveddata.db` file to sable.blitzmann@gmail.com? The errors you're giving are diffe

[2017-05-31 02:55] blitzmann commented on #1186
Marking this as fixed since I've merged in #1187 and #1190, which should fix the random errors on drag and drop and adds the ignore if CTRL is pressed. :)

[2017-05-31 04:03] blitzmann commented on #1149
@jasconius provided a fix for this issue, should be out tomorrow with 1.29.3 :) Thanks @jasconius!

[2017-05-31 12:24] Xepherion commented on #1191
Id say none cared about not having debuffs

[2017-05-31 12:39] Zyles opened #1200 "Request: Filter items based on skills"
I am an alpha clone. I don't want to see all these other items I can not use in the list.

A filter option would be nice to remove anything you can't use.

[2017-05-31 12:54] Zyles opened #1201 "Request: Quick highlight on stat changes when hovering item"
You know when you highlight an item in the fitting screen inside the game, before you fit it and it highlights the changes on the stats?

I want that. So I don't have to drag and drop every single item to see the changes.

[2017-05-31 20:52] justindh opened #1202 "Citadel Standup Webs and Painters not applied in damage graphs"
## Bug Report
Standup Painters and Webs dont seem to have any effect in the damage graphs.

### Expected behavior:
activating painters increase the signature radius of the target allowing standup missiles to apply damage more fully.

### Actual behavior:
activating painters and webs have no effect to the damage graphs

### Detailed steps to reproduce:
- Load up the Fit below
- activate all modules